<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>One Credits</title>
</head>
<body>

</body>
</html>

{% block bio %}
{{ super() }}
<p>David Greenspan is an MFA candidate at the University of Massachusetts Amherst. His poems have appeared in places like BathHouse Journal, The Laurel Review, New South, The Southeast Review, The Sonora Review, and others.</p>
{% endblock %}

{% block bio %}
{{ super() }}
<p>My developing body of work draws from the sea around me and is influenced by my studies.<br />
Currently I study biology and creative writing at the University of Victoria.</p>
{% endblock %}

{% block bio %}
{{ super() }}
<p>You can find me at <a href="http://elliereeswriter.com" target="_blank">elliereeswriter.com</a></p>
<p>Ellie Rees is a mother and grandmother, retired teacher - then student - now writer, and bizarrely - finds herself being asked to teach once more! She lives near the top of a cliff in South Wales, overlooking the Bristol Channel. She has been deep-mapping her tiny stretch of the Welsh coastline through the medium of poetry and this poem, The Owl comes from that (yet to be published) collection.</p>
{% endblock %}

{% block bio %}
{{ super() }}
<p>Gabriela Stryjek is an undergraduate linguistics student living in Riverside, California. She has an affinity for French literature, and is also a passionate gardener and fledgling paranormal investigator.</p>
<p>She can be found at <a href="http://grybukai.tumblr.com" target="_blank">grybukai.tumblr.com</a>.
{% endblock %}

{% block bio %}
{{ super() }}
<p>James A. Clark earned his BFA in Creative Writing at Stephen F. Austin State University. His works have appeared in San Pedro River Review, One Sentence Poems, Gingerbread House and Iron Horse Literary Review. He received the 2015 AWP Intro Journals Award for fiction.</p>
{% endblock %}

{% block bio %}
{{ super() }}
<p>Joe Crescente is a 3rd-year MFA fiction candidate in Creative Writing at the University of Massachusetts-Amherst. He previously studied Russian, anthropology, and communications and spent five years wandering the former Soviet Union from its deserts to the Pacific Ocean. Currently at work on a novel, he also serves as a Media Literacy Fellow at PH International and splits his time between Moscow, Russia and Western Massachusetts. Follow him on Twitter @dzhozevich6</p>
{% endblock %}

{% block bio %}
{{ super() }}
<p>A four-time Pushcart Prize, five-time Best of the Net, & Bettering American Poetry nominee, Lana Bella is an author of three chapbooks, Under My Dark (Crisis Chronicles Press, 2016), Adagio (Finishing Line Press, 2016), and Dear Suki: Letters (Platypus 2412 Mini Chapbook Series, 2016), has work featured in The Cortland Review, EVENT, The Fortnightly Review, Ilanot Review, Midwest Quarterly, New Reader, Notre Dame Review, Sundress Publications, & Whiskey Island, among others, and Aeolian Harp Anthology, Volume 3. Lana resides in the US and the coastal town of Nha Trang, Vietnam, where she is a mom of two far-too-clever-frolicsome imps.</p>
{% endblock %}

< Mike Bio >

{% block bio %}
{{ super() }}
<p>Suchi is currently completing painting studies at Emily Carr University Vancouver.</p>
<p>She is a past participant in summer coursework at the Writers' Workshop U Iowa.  Suchi embraces a sensual connection to the natural world, her fondest rare past-time being the attempt to catch snowflakes on her tongue, for there are rare snow days on the coast. At present she is busy at work on a painting series of pop romanticism. Poems of hers are presented in chapbook form through Prompt Press Iowa, and Ghost City Press Syracuse, NY.</p>
{% endblock %}