
<h2>A man walks down the street he says why am I soft in the middle now why am I soft in the middle now</h2>
<p>Years after my first cigarette<br />
& still nothing happens.<br />
Nothing has happened I promise<br />
as my throat tightens & fills<br />
fishhook, tightens & fills creek.<br />
Don't listen to my throat<br />
sloppy & spilling over.<br />
Lying is my patriotic duty,<br />
is our patriotic duty as men<br />
with silk ties strung tight<br />
around our necks. Our necks,<br />
don't get me started<br />
on our necks. They're thick<br />
& prideful. They’re feathered<br />
& make decisions<br />
about the national debt<br />
of countries other necks<br />
have never heard of.<br />
They're bearded & smoke<br />
unfiltered cigarettes. In fact<br />
they smoke tobacco straight<br />
from sunbaked dirt. Our necks<br />
yell timber as trees fall<br />
& crush other trees but anyway<br />
I said don't get me started<br />
on our necks & here I am<br />
going on & on when all I want<br />
is to yell about something else<br />
like sour water or limp skin<br />
or the wonderful feeling of<br />
pushing my fingers through <br />
an undercooked cut of meat.</p>
<hr />
<h2>Said a simple grace (reprise)</h2>
<p>I'm at your lover’s house<br />
and look it's not like I don't<br />
feel this creak and pressure<br />
welling up inside but really<br />
all I can do is ignore it<br />
before it puts a boot to my throat<br />
and pushes. Of course and don't<br />
take this the wrong way<br />
but I can't get my clothes off<br />
with this fullness of drunk,<br />
these coal explosions all around.<br />
Have I ever eaten until I vomited?<br />
What kind of question is that?<br />
You know I have. In fact<br />
this weekend I found a two-by-four<br />
and placed it with the utmost care<br />
beneath my tongue until it dissolved<br />
and the wood mites scattered<br />
and I know you can taste them. Don't<br />
change the subject please just sit<br />
like an important business person<br />
left alone which is to say<br />
an entire morning spent folding<br />
sheets. Sometimes I watch<br />
myself breathe and swallow, the song<br />
my father and mother taught<br />
most nights and I've been reading<br />
a story about their war<br />
with creatures large and otherwise.<br />
So far there hasn't been a single white man<br />
in his suit and polished shoes<br />
firing a gun and I can't tell you<br />
how happy that makes me.</p>