<h2>*Hologynic sight</h2>
<p>She saw before me, by two’s and before<br />
that by three’s</p>

<p>passed on genes— <br />
we can’t deny</p>

<p>left over<br />
from her Holocene. We keep</p>

<p>quiet whispers<br />
for eyes</p>

<p>startle us—<br />
we take note those</p>

<p>the others<br />
that don’t yet see</p>

<p>without <br />
organs of sight</p>

<p>the bodies don’t register<br />
the faint shiver that courses through one</p>

<p>when one <br />
knows</p>
<br />
<p>.</p>
<br />
<p>At the shore in silhouette<br />
a boat</p>

<p>long arms steer<br />
and oar— bend the water</p>

<p>against salt <br />
against current</p>

<p>against tides<br />
cyclic reminder of nights<p>

<p>&emsp;&emsp;&emsp;&emsp;hologynic<br />&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;single<br />&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;cell</p>
<p>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;reproduction<br />&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;alone and not,<br />&emsp;&emsp;&emsp;we are left&emsp;languid</p>

<p>left—floating<br />
rafts</p>

<p>we reach<br /> 
without reaching</p>

<p>cellophane islands help to cross <br />
the sea between us</p>

<p>&emsp;&emsp;left—<br />&emsp;&emsp;&emsp;over<br />&emsp;&emsp;&emsp;&emsp;pier—<br />&emsp;&emsp;&emsp;&emsp;&emsp;less,<br />&emsp;&emsp;&emsp;&emsp;&nbsp;untethered</p>

<p>&emsp;&emsp;&emsp;&emsp;limbless&emsp;sparkling&emsp;cloud-surface&emsp;spread</p>

<p><em>&emsp;&emsp;&emsp;noctiluca we<br />&emsp;&emsp;&nbsp;become</em></p>

<p>&emsp;&emsp;so small&emsp;that thousands of us&emsp;can fit&emsp;in a single drop of water<br >&emsp;between</p>

<p>deepest caves <br />
and coast</p>

<p><em>we bend</em><br />
to your shores waiting</p>

<p>drifts of rain and <br />
waves touch</p>

<p><em>we keep</em><br />
afloat</p>

<p>limbs outstretched<br />
for horizons</p>

<p>edges&emsp;and<br />
contours show</p>

<p>they recline on their&emsp;backs <br />
to gaze</p>

<p>skyward while stars<br />
<em>mirror us</em></p>
<br />
<p><em>&emsp;&emsp;&emsp;&emsp;&nbsp;*hologynic adj. [Gr. holos, whole; gyne, woman]<br />
character inheritance traits which are sex-limited to be passed down only through females</em></p> <!-- todo: css class to grey/deemph on page-->
<hr />
<h2>no monument</h2>
<p>&emsp;&emsp;the whir of a fan, under a Tv shooting<br />
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;baskets, LeBron James,<br />
&emsp;&emsp;there is nothing spectacular here<br />
&emsp;&emsp;a room<br />
&emsp;&emsp;a fan<br />
&emsp;&emsp;a silence interrupted<br />
&emsp;&emsp;the blades of the fan move,&emsp;slow</p>
<br />
<p>&emsp;&emsp;&emsp;&emsp;&emsp;but<br />
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;still and again, spin—<br />
&emsp;&emsp;walking north beach <br />
&emsp;&emsp;sugar<br />
&emsp;&emsp;of the milk<br />
&emsp;&emsp;on my teeth,<br />
&emsp;&emsp;my body,&emsp;the body that was,&emsp;the body that is,&emsp;the body that will be</p>
<br />
<p>&emsp;&emsp;digest<br />
&emsp;&emsp;&emsp;&emsp;&emsp;this wind<br />
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;lean into towards—<br />
&emsp;&emsp;itinerary, maps, ships and fools, the seagulls, dive and cry <br />
&emsp;&emsp;salt of the sky<br />
&emsp;&emsp;on my cheek,<br />
&emsp;&emsp;my<br />
&emsp;&emsp;harboured<br />
&emsp;&emsp;edge,&emsp;this<br />
&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;formed<br />
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;lean into towards—</p>
<br />
<p>&emsp;&emsp;violet<br />
&emsp;&emsp;tainted air&emsp;&emsp;the body that<br />
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;will<br />
&emsp;&emsp;west on white&emsp;&emsp;evaporate <br />
&emsp;&emsp;toward cathedral towers.</p>

<p>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;there was no monument toward <br />
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;the&emsp;moment of</p>