<h2>The Owl</h2>
<p>I heard no feathered thud<br />
no hoot nor shriek<br />
nor muffled snap<br />
no tell-tale puff of owl-debris.<br />
It left a lasting impression though<br />
a realist portrait painted in dust<br />
each feather, filament stencilled on glass<br />
but its head was merely a smudge.<br />
So burnished by the October sun<br />
it appeared a sacred icon,<br />
a gift for the house, a fingerprint<br /> 
from another dimension.</p>

<p>At Goldcliff on the Severn Estuary<br />
footprints of a human family <br />
are stratified in estuarine silts and peat.<br />
Their walk, six thousand years ago<br />
now seems just as ephemeral<br />
as the delicacy of wings outstretched<br />
each feather attuned to night’s quiet air<br />
that moment of open-winged surprise,<br />
casually <br />
&emsp;&emsp;snapped by my window pane.</p>