<h2>palm springs 65</h2>
<p>All the movie stars,<br />
&emsp;&emsp;&emsp;in all the different cities​—<br />
&emsp;&emsp;&emsp;Neon signs and crushed cigarettes. <br />
&emsp;&emsp;&emsp;It was you and me and<br />
&emsp;&emsp;&emsp;Your Friends. They<br />
&emsp;&emsp;&emsp;never slept.<br />
&emsp;&emsp;&emsp;In the High Desert,<br />
&emsp;&emsp;&emsp;sameness tends to haunt—<br />
&emsp;&emsp;&emsp;it’s always 90, we<br />
&emsp;&emsp;&emsp;Are Always Going<br />
&emsp;&emsp;&emsp;90<br />
&emsp;&emsp;&emsp;this america, not mine<br />
&emsp;&emsp;&emsp;where all you could ever do is<br />
&emsp;&emsp;&emsp;Go. Run fast and<br />
&emsp;&emsp;&emsp;run so far ‘til you can’t smell gunsmoke <br />
&emsp;&emsp;&emsp;no more. They’ll say<br />
&emsp;&emsp;&emsp;It’s not a race but it might as well<br />
&emsp;&emsp;&emsp;be. sometimes<br />
&emsp;&emsp;&emsp;you don’t win,<br />
&emsp;&emsp;&emsp;you don’t get the rewards card— <br />
&emsp;&emsp;&emsp;Yellowed teeth and Orange trees.<br />
&emsp;&emsp;&emsp;dollar store green taquitos<br />
&emsp;&emsp;&emsp;three AM at<br />
&emsp;&emsp;&emsp;Union Station, waltz with a helium balloon <br />
&emsp;&emsp;&emsp;or sleep in an<br />
&emsp;&emsp;&emsp;empty parking lot.<br />
&emsp;&emsp;&emsp;In the High Desert.</p>