<h2>Altitude Frost</h2>
<p>On the flight back, somewhere over West Texas,<br />
she rests her head on his shoulder.  It’s a strange<br />
gesture, born in the enthusiasm of the moment,<br />
a product of shared experience, intimate but innocent—<br />
a brief, tender high-five at five miles high.</p>

<p>He turns away, to the window, peers at mountains,<br />
at wind farms scattered like points on a graph<br />
across the flatlands.  The air gets colder and colder<br />
as the plane climbs, until altitude frost forms like cracks<br />
on the windows.  A bare inch of glass fills the gap</p>

<p>between the crystals and the tip of his curious finger,<br />
but outside the aluminum shell, it is as distant<br />
as the silent spiderweb shapes of towns five miles below.<br /> 
He swears</p>

<p>if he were flying, if he could, just once, take over<br />
the pilot’s seat, he’d dip down fast, find a way<br />
to reach out, to be the one to run his fingers<br />
across those spreading veins of ice, to know<br />
the impossible, to feel the bite of their burning cold.</p> 
<hr />
<h2>Without Corners</h2>
<p>I remember way back when, how you said<br />
you hated a made bed, sheets tight as skin,<br />
corners tucked under, too neat. How the bed<br />
boxed you in, like some kind of crime scene pinned<br />
at every corner by pokerfaced cops.<br />
You swore it was a guy thing—another mark<br />
of the Patriarchy. I didn’t stop<br />
you, tell you it was necessary: stark<br />
white, starched corners in a tight forty-five.<br />
You opposed order. I couldn’t explain<br />
to you, free spirit, could never quite drive<br />
home the point: the artist who sculpts or paints<br />
needs straight lines, and a sonnet needs fourteen.<br />
There is freedom and form: we live in between.</p>