<h2>Overfishing in Siberia</h2>
<p>To the world you are full of<br />
bears, oil, dishes baked in mayonnaise,<br />
weird, wild, limitless. I could walk<br />
a dozen days in your heart and<br />
never hear a human footstep.</p>

<p>You have all the time in the world<br />
but too many time zones to make sense of it.<p>

<p>Half your country and everyone<br />
else thinks of you as permanently gelid<br />
but you have a desert! The Chara Sands<br />
are as unexplained as they are warm,<br />
surrounded by fields of ice<br />
and frozen blue lakes.</p>

<p>The world outside imagines you<br />
as a place to cease living<br />
to lose yourself in exile<br />
among wilted trees<br />
or to spend your best years<br />
in a rotten camp so that<br />
your country’s literature can be great.</p>

<p>Perhaps not everyone shocks<br />
when they learn you are electrified<br />
but few know you have million people<br />
cities, subways, opera, summer, life.</p>

<p>I felt your lungs breathe<br />
onto my cheeks, traversed between<br />
points on your body as long as centuries,<br />
saw my toes go blue as you<br />
waited for an answer.</p>

<p>You’ve been mistreated,<br />
haven’t you? Moscow<br />
is a dirty word,<br />
isn’t it? Europe is a dream—<br />
don’t answer that.</p>

<p>For decades they have poked holes in your skin, <br />
hollowed caves from your bowels, burnt metals in <br />
your hair long enough to turn your snow black.</p>

<p>What good is a photograph of a beautiful lake when<br />
there aren’t any fish?<p>
<hr />
<h2>Commute</h2>
<p>Somewhere on the way<br />
home from airports<br />
I do my counting:</p>

<p>how long since I<br />
last had communion</p>

<p>when do I get to<br />
the place I’ve always <br />
wanted to be</p>

<p>will the sun be up<br /> 
when I get home</p>

<p>At the station I walk<br />
my suitcase through snow <br />
suitcase wheels carve their path <br />
in the slush on the sides of roads</p>

<p>There are no sidewalks here</p>

<p>Across the street are the dogs that always bark <br />
the dogs who’ve never been home</p>

<p>And it’s too early to go shopping<br />
and the buses aren’t running<br />
the only people living are the<br /> 
drunks collecting bottles</p>

<p>I need a haircut but<br />
what I really need is<br />
to sleep for two days<br />
days no one will give back</p>

<p>I wish I had someone<br />
to make my bed<br />
but since I don’t<br />
I’ll watch the forest burn<br />
from the fourteenth floor window</p>

<p>It was burning before I left</p>