<h2>DEAR SUKI: #84</h2>
<p>Dear Suki: Winter, Hanoi, 40’s,<br />
I alone knew how everywhere<br />
was dark plaiting through salt-<br />
plume, dearing your thousand<br />
griefs into buds, tinsel-winged<br />
upon the tails of December sun. <br />
You freckled seeking over earth,<br />
keening quiet cries with caress<br />
smooth from my slight of turn,<br />
wrist to radius stretching there<br />
to everything you had loved that<br />
remained seam-like, straight to<br />
the end of memory. Ten weeks,<br />
they had said, ten weeks to fall<br />
from still stone steps for vertigo, <br />
descending hazy as though each<br />
limb prostrate in nocturne, your <br />
mouth lotus-bulbed on my finger-<br />
tips to a stunning death of petals.</p>
<hr />
<h2>OFFING</h2>
<p><em>~You will always be someone from somewhere else. This is the design flaw of water.~ </em>Dao Strom</p>
<p>You finger of ocean, and from<br />
which the salt of ambergris <br />
whispers the North Sea back.<br />
Like an enclave of accessible<br />
winter so far-reaching yet at<br />
the same time, not endlessly,<br />
you miss you with the drag of<br />
smokes courting shore, pale in<br />
all the ways of branding water. <br />
Here is the after ending, the less<br />
history of you coming out with <br />
sea, your coolness moves dear<br />
at the hips, wet feet lonesome on<br />
sodden kelp and sand, fearing<br />
how still it is again as a hunger<br />
fleeces to ancient horizon, soon<br />
of home descending down to sea.</p>