<h2>IT IS OCTOBER</h2>
<p>My best vase fell to the parking lot asphalt <br />
and shattered when I opened the car door<br />
and the landlord’s dog is dead,<br />
one last summer of cherry tomatoes off the vine, <br />
those begging eyes never again are going wide<br />
for them pulling leashholder towards the garden fence.<br />
If glue could put the vase back together (it can’t)<br />
I could summon back that dog with a ring of cherry<br />
tomatoes last-of-the-season on the burial lawn.<br />
It is October, you know, call back the things we love <br />
with the simplest magics here’s the transformation now,<br />
I can feel it welling like the water seeps up <br />
through the dirt floor basement after a week of<br />
rain, if it brings the mushrooms to surface what else lies<br />
beneath waiting just for the right moment of <br />
revelation, too much loss in too short a span<br />
makes for introspection the mind goes blank<br />
a focus can’t really be determined everything’s<br />
on the fritz but maybe that blank is just the<br />
chalkboard on which will be writ the spell<br />
<em>writ it, old magics, writ it good with cliff chalk</em> because <br />
I’m vaselike, cracked but holding tight<br />
as possible to contain the water as<br />
it seeps in with the incantation and tomatoes float,<br />
begging eyes on the surface some<br />
red skin split from the uptake of water<br /> 
but fresh.</p>