<h2>Supreme Creator</h2>

<p>De Kooning <br />
made flesh—<br />

<p>I can’t even make <br />
balloon animals.</p>

<p>In a corner traditionally reserved for icons</p>

<p>A vast field <br />
white on white—</p>

<p>one square over <br />
another, turning</p>

<p>but not a circle</p>

<p>angles added <br />
and taken away</p>

<p>I’m left staring, again <br />
or rather—</p>

<p>I am caught.</p>
<hr />
<h2>*words are all we have</h2>
<p>a&emsp;&emsp;pink energizer bunny mocking a tired late night body</p>
<p>a&emsp;&emsp;paul frank sock monkey print enlivens pajamas</p>
<p>a&emsp;&emsp;sleep app won’t work, battery died, charger is in the car</p>
<p>a&emsp;&emsp;simulacra of said app b4 apps became a basic mimesis of human functions</p>
<p>&emsp;&emsp;&emsp;&emsp;Bbreeeeaaaattttthhheeee in, breathe oooOOOuuuuUUTttTTtt</p>
<p>a&emsp;&emsp;vanity fair won’t save you from existential ennui, still it’s</p>
<p>a&emsp;&emsp;special issue on Basquiat & Wharhol: eating</p>
<p>a&emsp;&emsp;hamburger alone: an American iconic food item + American icon = Art</p>
<p>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<strike>is this alchemy?</strike></p>
<p>a&emsp;&emsp;phrase *attributed to Beckett that no one seems to find a citation for</p>
<p>a&emsp;&emsp;reach back by Basquiat, all the way to Moses and the king of heaven on earth</p>
<p>&nbsp;&emsp;&emsp;Jesus tricks: water into blood, blood into wine, the blind man, the serpent and</p>
<p>&nbsp;&emsp;&emsp;the staff, the prostitute: virgin /whore schema even he wasn’t free of</p>
<p>&nbsp;&emsp;&emsp;duality</p>
<p>&nbsp;&emsp;&emsp;between the lines—we're not laughing at/&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;you it’s/not, you, it’s me?</p>
<p>&nbsp;&emsp;&emsp;it’s just</p>
<p>a&emsp;&emsp;matter / mater/ of mother / maker transubstantiation magic</p>
<p>&nbsp;&emsp;&emsp;of time</p>
<p>&nbsp;&emsp;&emsp;of glitter into gold&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;at last</p>
<p>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;is this alchemy?</p>
<p>an eternity, palpably only as long as the time of my life, an eternity<br />as old as the hills.</p>
<p>a&emsp;&emsp;waste of time without<br />a&emsp;&emsp;care in the world, i woke up on the wrong side of the bed and realize it’s a<br />a&emsp;&emsp;dream, spinning itself, lost track of happily ever after, that again, thieving<br />&nbsp;&nbsp;&emsp;&emsp;stolen, stealing, held tight in my fist<br />a&emsp;&emsp;diamond in the rough glittering, like black coal new born babies eyes.</p>
<p>a&emsp;&emsp;dream: i wake Basquiat from his sleep in a sarcophagus to come back as<br />a&emsp;&emsp;crowned king— majestic:<br />&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;red stigmata hands paint Trojan horses<br />&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<strike>is this alchemy?</strike></p>
<br />
<p>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<strike>(“I cross out words so you will see them more.”</strike><br />&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<strike><3 <3 <3 —Jean-Michel Basquiat <3 )</strike></p>