body {
    font-family: 'Cardo', serif;
    background-color: #f5ead6;
    color: black;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:active {
    text-decoration: underline;
}
img {
    margin-left: auto;
    margin-right: auto;
}