{% extends "issues/four/base-bs4.html" %}
{% block header %}
{{ super() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" integrity="sha512-Velp0ebMKjcd9RiCoaHhLXkR1sFoCCWXNp6w4zj1hfMifYB5441C+sKeBl/T/Ka6NjBiRfBBQRaQq65ekYz3UQ==" crossorigin="anonymous" />
{% endblock %}
{% block title %}{{ super () }}{% endblock %}
{% block content %}
{{ super() }}
<div class="row name-block">
    <div class="col">
        <h1 class="text-center">{% block name %}{% endblock %}</h1>
        <br />
    </div>
</div>
<div class="row flex-column-reverse flex-lg-row work-block h-80">
    <div class="col-lg-1"></div>
    <div class="col-lg-5">
        <div class="row-12">
            <br />
            <br />
            <br />
        </div>
        <div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="row">
            <a href="/img/four/gallery/avacado.jpg" data-toggle="lightbox" data-gallery="example-gallery" data-footer="Avacado" class="col-sm-4">
                <img src="/img/four/gallery/thumbs/avacado.png" class="img-fluid">
            </a>
            <a href="/img/four/gallery/cherry.jpg" data-toggle="lightbox" data-gallery="example-gallery" data-footer="Cherry" class="col-sm-4">
                <img src="/img/four/gallery/thumbs/cherry.png" class="img-fluid">
            </a>
            <a href="/img/four/gallery/coconut.jpg" data-toggle="lightbox" data-gallery="example-gallery" data-footer="Coconut" class="col-sm-4">
                <img src="/img/four/gallery/thumbs/coconut.png" class="img-fluid">
            </a>
        </div>
        <div class="row-12">
            <br />
        </div>
        <div class="row">
            <a href="/img/four/gallery/fruit_salad.jpg" data-toggle="lightbox" data-gallery="example-gallery" data-footer="Fruit Salad" class="col-sm-4">
                <img src="/img/four/gallery/thumbs/fruit_salad.png" class="img-fluid">
            </a>
            <a href="/img/four/gallery/olive.jpg" data-toggle="lightbox" data-gallery="example-gallery" data-footer="Olive" class="col-sm-4">
                <img src="/img/four/gallery/thumbs/olive.png" class="img-fluid">
            </a>
            <a href="/img/four/gallery/pickle.jpg" data-toggle="lightbox" data-gallery="example-gallery" data-footer="Pickle" class="col-sm-4">
                <img src="/img/four/gallery/thumbs/pickle.png" class="img-fluid">
            </a>
        </div>
        <div class="row-12">
            <br />
        </div>
        <div class="row">
            <a href="/img/four/gallery/pomegranate.jpg" data-toggle="lightbox" data-gallery="example-gallery" data-footer="Pomegranate" class="col-sm-4">
                <img src="/img/four/gallery/thumbs/pomegranate.png" class="img-fluid">
            </a>
            <a href="/img/four/gallery/pumpkin.jpg" data-toggle="lightbox" data-gallery="example-gallery" data-footer="Pumpkin" class="col-sm-4">
                <img src="/img/four/gallery/thumbs/pumpkin.png" class="img-fluid">
            </a>
            <a href="/img/four/gallery/soursop.jpg" data-toggle="lightbox" data-gallery="example-gallery" data-footer="Soursop" class="col-sm-4">
                <img src="/img/four/gallery/thumbs/soursop.png" class="img-fluid">
            </a>
        </div>
        <div class="row-12">
            <br />
        </div>
        <div class="row">
            <a href="/img/four/gallery/spinach.jpg" data-toggle="lightbox" data-gallery="example-gallery" data-footer="Spinach" class="col-sm-4">
                <img src="/img/four/gallery/thumbs/spinach.png" class="img-fluid">
            </a>
            <a href="/img/four/gallery/tangerine.jpg" data-toggle="lightbox" data-gallery="example-gallery" data-footer="Tangerine" class="col-sm-4">
                <img src="/img/four/gallery/thumbs/tangerine.png" class="img-fluid">
            </a>
            <a href="/img/four/gallery/tomato.jpg" data-toggle="lightbox" data-gallery="example-gallery" data-footer="Tomato" class="col-sm-4">
                <img src="/img/four/gallery/thumbs/tomato.png" class="img-fluid">
            </a>
        </div>
        <div class="row-12">
            <br />
        </div>
    </div>
</div>
    </div>
    <div class="col-lg-5">
        <br />
        {% block poems %}
        {% endblock %}
    </div>
    <div class="col-lg-1"></div>
</div>
<div class="row justify-content-center align-bottom footer-block name-text">
    <div class="col col-10">
        <br />
        {% block bio %}
        {% endblock %}
        <br />
        <a href="{{ url_for('issue_four') }}">Back to Issue Four</a>
        <div class="row-12">
            <br />
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).on('click', '[data-toggle="lightbox"]', function(event) {
                    event.preventDefault();
                    $(this).ekkoLightbox();
                });
</script>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>
{% endblock %}