{% extends "issues/four/poem-base.html" %}
{% block style %}{{ style }}.css{% endblock %}
{% block image %}{{ style }}.png{% endblock %}

{% block title %}William Doreski{% endblock %}
{% block name %}William Doreski{% endblock %}

{% block poems %}
<h2>Seven-Sided Curse</h2>
<p>You read in a book that seven<br />
sided objects, landscapes, people<br />
offend nature, flesh, and spirit. <br />
<br />
Your new distrust of heptagons<br />
infects your daily perceptions.<br />
With a tidbit of clever math<br />
<br />
you prove that my rectangular<br />
desk has three invisible sides<br />
and has secretly undermined me<br />
<br />
for at least the last twenty years.<br />
You also demonstrate that walking<br />
to the brook to watch it trill<br />
<br />
over rocks and form black pools<br />
shapes a seven-sided argument<br />
against faith in human progress.<br />
<br />
I should stay home and read books<br />
on the simple calculus of form.<br />
High-school plane geometry<br />
<br />
wasn’t enough to prepare me<br />
for the asymmetries of the world.<br />
Heptagons are both regular<br />
<br />
and not. I used to admire them,<br />
but you claim they brainwashed me<br />
in puberty when a young woman<br />
<br />
offered seven sides of herself<br />
without revealing anything<br />
but moonlight the color of bone.<br />
<br />
You know me better than history;<br />
so when you warn me against <br />
further consorting with heptagons<br />  
<br />
I promise that while admiring<br />
winter constellations I’ll count <br />
only even numbers of stars.<p>
{% endblock %}

{% block bio %}
{{ super() }}
<p>William Doreski lives in Peterborough, New Hampshire. He has taught at several colleges and universities and retired after three decades at Keene State College. His most recent book of poetry is <i>Stirring the Soup (2020)</i>.  He has published three critical studies, including <i>Robert Lowell’s Shifting Colors.</i>  His essays, poetry, fiction, and reviews have appeared in many journals.</p>
{% endblock %}