{% extends "issues/four/poem-base.html" %}
{% block style %}{{ style }}.css{% endblock %}
{% block image %}{{ style }}.png{% endblock %}

{% block title %}Howie Good{% endblock %}
{% block name %}Howie Good{% endblock %}

{% block poems %}
<h2>The View from Here</h2>
<p>I’m watering the indoor plants when the doorbell rings. It’s you, and you’re bleeding from an ear.<br />“What happened to your ear?” I ask. You touch it. Your fingers come away with blood. “Steely<br />Dan on the headphones,” you say. I don’t move, don’t even nod. Now that an estimated 150<br />species go extinct every day, I try not to rush through my days. And if, as sometimes happens, it<br />feels like everything is speeding up, I’ll lie down on the floor and stare at the ceiling or out<br />the window, my view a small thing but all my own.</p>
{% endblock %}

{% block bio %}
{{ super() }}
<p>Howie Good's latest  poetry collection, Gun Metal Sky, is due in February from Thirty West Publishing</p>
{% endblock %}