{% extends "/issues/four/poem-base.html" %}
{% block style %}{{ style }}.css{% endblock %}
{% block image %}{{ style }}.png{% endblock %}

{% block title %}DS Maolalai{% endblock %}
{% block name %}DS Maolalai{% endblock %}

{% block poems %}
<h2>Putting Togther a Sofa</h2>
<p>flipping the bottom<br />
topwise; open<br />
to an ugliness<br />
of guts. like looking at a dying<br />
cow&#39;s ribcage: all foam<br />
organs, all wood<br />
and wicker bones.</p>
<p>I take legs from boxes<br />
and find their thread&#39;s<br />
direction. screw<br />
them to place. allow a little<br />
give. then the arms<br />
which slide to slots<br />
and pull backward. they fit,<br />
and no – this is not</p>
<p>any longer death; this is<br />
life, this is the cow<br />
calving. the pushing<br />
of some clean<br />
unsteady beast<br />
to functional use. I flip it backwards;<br />
it lands, rocking a moment,<br />
and steadies. pull it about,</p>
<p>moving it<br />
to its place:<br />
the empty corner<br />
of an empty room. it stands there;<br />
sniffs about, tests itself<br />
and settles.<br />
it sits obedient, aware<br />
of what’s to come.  </p>
<br />
{% endblock %}

{% block bio %}
{{ super() }}
<p>DS Maolalai has been nominated eight times for Best of the Net and four times for the Pushcart Prize. His poetry has been released in two collections, "Love is Breaking Plates in the Garden" (Encircle Press, 2016) and "Sad Havoc Among the Birds" (Turas Press, 2019)</a>.</p>
{% endblock %}