{% extends "issues/four/poem-base.html" %}
{% block style %}{{ style }}.css{% endblock %}
{% block image %}{{ style }}.png{% endblock %}

{% block title %}Michael Medeiros{% endblock %}
{% block name %}Michael Medeiros{% endblock %}

{% block poems %}
<h2>Blood Oranges</h2>
<p>We’ll eat blood oranges on the back<br />
path between our houses, throw the<br />
peels in the evergreens behind the<br />
Golden Greek, get breakfast there<br />
and walk down to the shore. The<br />
color of sunset is blood orange,<br />
I can smell it or is that the shore?<br />
We’re on Tin Can Island<br />
we’ve slept and are wet with September<br />
morning dew. Last week it was warm,<br />
this week we’re near frozen to the grass<br />
tips frosted like your cousin’s at<br />
the Aaron Carter show, his velvet shirt<br />
like these lamb’s ear weeds growing by<br />
the gravestones or are they mullein?<br />
Everyone’s got another name for everything.<br />
Your grandmother will wonder where<br />
her blood oranges went. There’s a discount<br />
grocer sells them four for a dollar when<br />
just next door the tidier shop asks $2<br />
apiece. Sunrise is glowing purple this morning:<br />
what warning does that give the scallopers<br />
headed out to sea for the next week, never<br />
knowing what’s happening on the shoreline,<br />
that the wake their boats leave on the way<br />
out the hurricane dike rushes up the beach<br />
in vertical humps that touch your feet and up<br />
over the hem of your jeans where we thought<br />
the tide wouldn’t reach. If you hadn’t taken<br />
your shoes off to feel the dirty white foam your<br />
shoes would be soaked through and your<br />
walk home would be miserable. We’d have<br />
had to have gone barefoot to bear it and<br />
that would mean walking the dirt paths<br />
behind the highway and that would mean<br />
who knows what? I swear Bill still lives out<br />
there even though we haven’t seen him.</p>
<br />

{% endblock %}

{% block bio %}
{{ super() }}
<p>Michael Medeiros is the managing editor of jubilat, and a student in the UMass Amherst MFA for Poets and Writers.</p>
{% endblock %}