{% extends "issues/four/poem-base.html" %}
{% block style %}{{ style }}.css{% endblock %}
{% block image %}{{ style }}.png{% endblock %}

{% block title %}Antoni Ooto{% endblock %}
{% block name %}Antoni Ooto{% endblock %}

{% block poems %}
<h2>Without Weight</h2>
<p>you were incomplete<br />
as sentences lined up</p>
<p>then, a first page</p>
<p>following events,<br />
chapters<br />
with catchy last lines</p>
<p>to write about youth<br />
it took decades </p>
<p>memory by memory<br />
stories started to unfold<br />
maybe only the good ones</p>
<br />
{% endblock %}

{% block bio %}
{{ super() }}
<p>Antoni Ooto is an internationally published poet and flash fiction writer.<br />
Well-known for his abstract expressionist art, Antoni now adds his voice to poetry.<br /> 
Reading and studying the works of many poets has opened another means of self-expression.</p>
<p>His recent poems have been published in <i>Amethyst Review, Green Ink Poetry, The Poet Magazine,<br/ > Brown Bag Online, The Wild Word</i>, and a number of journals and anthologies.<br />
He lives and works in upstate New York with his wife poet/storyteller, Judy DeCroce.</p>
{% endblock %}