{% extends "/issues/four/poem-base.html" %}
{% block style %}{{ style }}.css{% endblock %}
{% block image %}{{ style }}.png{% endblock %}

{% block title %}Suchi J. Pritchard{% endblock %}
{% block name %}Suchi J. Pritchard{% endblock %}

{% block poems %}
<h2>Language is like Leather</h2>
<p>it was a party</p>
<p>it was called something for everyone</p>
<p>it was pink almost red, and chemical</p>
<p>it was lost, between</p>
<p>the upholstery</p>
<p>plush values, plastic covered, empty</p>
<p>it was over</p>
<p>a birthing most uncomfortable</p>
<p>accompanying birdsong played</p>
<p>backwards, garbled, and beautiful </p>
<p>an un-archived collection</p>
<p>in wide lens view</p>
<p>it wasn’t seen in memory</p>
<p>it was peripheral</p>
<p>two cassettes in a box, </p>
<p>prove what was—</p>
<p>or drawing,&nbsp;&nbsp;on the surface of water?    </p>
<p>takes the shape of<br />
    <p>&emsp;air,&emsp;takes</p>
<p>the shape of  breath</p>
<p>our costumes sleeping</p>
<p>seemingly limbless marsupials </p>
<p>take the shape of</p>
<p>pillows </p>
<p>take the shape of feathers<br />
without wing</p>
<p>birds without branches </p>
<p>wishes take</p>
<p>the shape of many things</p>
<p>our mattress takes the shape of </p>
<p>us</p>
<p>we sleep to surrender</p>
<p>what is naught&#8211; </p>
<p>we dream to remember</p>
<p>the shapes<br />
inside us<p>
     <p>&emsp;&emsp;air<br />
takes</p>
<p>the shape of </p>
<p>humidity&#8212;  it’s indent</p>
<p>and sag</p>
<p>scent</p>
<p>of fresh yeast </p>
<p>rise</p>
<p>the bowl</p>
<p>the butter</p>
<p>softens while </p>
<br />
<br />
<p class="text-right">while waiting for the overnight buns<br />
Papa fills a glass with water</p>
<br />
<br />
<p class="text-right">a lens, he then holds in front of my right eye<br />
his left hand on my left shoulder</p>
<p class="text-right">he then turns me clockwise&#8212; lamps, books<br />
a window of nasturtiums, yellow curtain</p>
<p class="text-right">furniture, both spindly and heavy curved&#8212;<br />
friendly beasts, the world in slow kaleidoscope turns</p>
<br />
{% endblock %}

{% block bio %}
{{ super() }}
<p>Suchi j Pritchard is a painter and poet originally hailing from an island on the west coast. Currently an MFA candidate at Brooklyn College. The working themes at present question accumulations and disintegrations of plastic corporeal entities of thought and things.</p>{% endblock %}