{% extends "/issues/four/base-bs4.html" %}
{% block title %}{{ super () }}{% endblock %}
{% block content %}
{{ super() }}
<div class="row name-block">
    <div class="col">
        <h1 class="text-center">{% block name %}{% endblock %}</h1>
        <br />
    </div>
</div>
<div class="row flex-column-reverse flex-lg-row work-block h-80">
    <div class="col-lg-1"></div>
    <div class="col-lg-3">
        <div class="row-12">
            <br />
        </div>
        <img src="/img/four/{% block image %}{% endblock %}" class="img-fluid" style="z-index: 0;">
        <br />
        <p class="img-title">{{ style|replace("_", " ")|capitalize }}</p>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-6">
        <br />
        {% block poems %}
        {% endblock %}
    </div>
    <div class="col-lg-1"></div>
</div>
<div class="row justify-content-center align-bottom footer-block name-text">
    <div class="col col-10">
        <br />
        {% block bio %}
        {% endblock %}
        <br />
        <a href="{{ url_for('issue_four') }}">Back to Issue Four</a>
        <div class="row-12">
            <br />
        </div>
    </div>
</div>
{% endblock %}