{% extends "/issues/four/poem-base-wrap.html" %}
{% block style %}{{ style }}.css{% endblock %}
{% block image %}{{ style }}.png{% endblock %}

{% block title %}Daniel Romo{% endblock %}
{% block name %}Daniel Romo{% endblock %}

{% block poems %}
<h2>In a Time of Restlessness</h2>
<p class="text-justify">My wife says she doesn’t dream, and my spirit animal is the world’s biggest concern. I’ve never had the misfortune of simply living as being a cross to bear, but I sympathize with the bodies of black men being fed to bullets. Closing your eyes to the plight of a breath is equivalent to biting your tongue though your teeth have fallen out long ago. Not even the most spiteful virus can quarantine the hate created from the vines of a bad seed. Regularly talking to plants not only helps them grow but controls the temper(ament) of your own voice. Soft pastels are the most prominent shades seen when one is sleeping, but she doesn’t even see those. How can a man give up when it’s clear he’s already surrendered? Even nightmares know when enough is enough. </p>
<br />
{% endblock %}

{% block bio %}
{{ super() }}
<p>We did not find a bio for you. <br />If you would like a bio on your page, please email one to <a href="mailto:trestleties@gmail.com">trestleties@gmail.com</a>.</p>
{% endblock %}