{% extends "/issues/four/poem-base-wrap.html" %}
{% block style %}{{ style }}.css{% endblock %}
{% block image %}{{ style }}.png{% endblock %}

{% block title %}Megan Saint-Marie{% endblock %}
{% block name %}Megan Saint-Marie{% endblock %}

{% block poems %}
<h2>Primordial Ache</h2>
<p>The shifting mist gently rises from the pond up through the cat tails and into the skirts of greenery surrounding strong evergreens.<br />
Huge land formations remain after ions of shift and birth. Stuck for now, content to be there, they allow green moss and yellow algae to creep up and claim their home.<br />
Driving past, I turn to my child and proclaim this as my home too.</p>
<br />
 
<h2>Living In the Moment</h2>
<p>I’m huddled under the outdoor heater at a small table for one. <br />
It’s overcast and 43 degrees, yet my desire to sit on the periphery of human contact propelled me to come sit on this covered patio in the middle of Portland on a cold December day.<br />
This week has been tough; a week of tears and strength. Getting things done for others and still remaining true to my feelings.<br />
The main lesson being one of compassion, both for myself and all of humanity.<br />
A sweet 4 year old is ushered in past me and settles into a large corner table with her parents and their friends.<br />
She saunters by in a one-piece red zippered snow suit and for a moment, I am both carried back in time to my childhood, and simultaneously thinking of my adult children at that age.<br />
The next thought is: “Do those suits come in my size?”<br />
I’ve got the prerequisite warm hat, jacket and large green fuzzy wool shawl I leave in the car now, that currently drapes across my lap, and yet, I’m pining for a red one-piece zip up snow solution like the small girl in the corner is wearing.<br />
The lone man at the small black round metal table diagonally from me looks up as the child initiates peekaboo.  We make eye contact and smile, sharing that brief, honest connection that happens between strangers when we are in the presence of something precious.<br />
Once again, I recognize that restaurants are a sacred place for me; so much more than the food or surroundings would have you believe.  I give myself permission to grieve the loss of so many of them and celebrate every moment that I can have these experiences.</p>
<br />

{% endblock %}

{% block bio %}
{{ super() }}
<p>Megan Saint-Marie is a writer, artist, and coach for creatives, currently living in Portland, Oregon.</p>
<p>She grew up the Northwestern Region of the United States, and, after 20 years of marriage, ran away and lived in the heart of Mexico for 15 months to write, paint, pray, meditate, explore shamanism, rediscover, and recreate herself and life. Her work is inspired by the experiences she had in Mexico, as well as of being a mother, artist, and courage lover.</p>
<p>She is the writer, photographer, Creativity Coach, and creator of “Sacred Soul Cards&#174;”, a deck of cards featuring her photography of Italy, and her words of inspiration.</p>
<br />
<p>Her published works can be found in:</p>
<p>“What We Love” A Community Book Project<br />
2019 <br />
Donna Kozik Lead Editor<br />
San Diego, Ca.</p>
<p>“Everyday Joy” A Community Book Project<br />
2018 <br />
Donna Kozik Marketing, Inc. <br />
San Diego, Ca.</p>
<p>“The Art of Being Human, Who Am I”<br />
 An Anthology of International Anthology, volume 15. 2015<br />
Compiled & Edited by Daniela Voice and Brian Wrixon<br />
Brian Wrixon Books<br />
Burlington, Ontario, Canada</p>
<p>Her Sacred Soul Cards™ can be found at: <a href="http://www.sacredsoulcards.com">www.sacredsoulcards.com</a></p>
{% endblock %}