{% extends "issues/four/poem-base.html" %}
{% block style %}{{ style }}.css{% endblock %}
{% block image %}{{ style }}.png{% endblock %}

{% block title %}Michael Smith{% endblock %}
{% block name %}Michael Smith{% endblock %}

{% block poems %}
<h2>Best Old Friends</h2>
<p>Here is an open door, a smile, handshake, and hug<br />
Another couple, Another, more<br />
Before we’re all here there’s two conversations going on<br />
In one ear and in the other<br />
The swish of leather, and the rustle of compliments<br />
Unwrapped like coats, draped over chairs<br />
The table is too big to hear, too long to see<br />
And not Everyone could make it, even.<br />
Miscounts, reservations, ten or twelve?<br />
Names like bells, checklists of missing, excuses.<br />
And still, everyone is here, it feels.<br />
Ordering, comparing, debating even, the menu.<br />
With shining eyes and sparkling smiles the conversations resume.<br />
That were never left off<br />
New jobs, automobiles, vacations<br />
Luggage, pets, weddings and houses<br />
Children, and not children, yet.<br />
Friends who have moved away<br />
The latest catastrophe, and exultation<br />
New dates, distant places, the stories and laughter<br />
And everything beyond our table disappears.<br />
Eyes sparkle like reflections of our own admiration<br />
Encircle our friends within our lives here now<br />
Appetizers have been nibbled, meals eaten between breaths.<br />
Dessert was a story, that developed into a joke<br />
That recalled another old joke, and laughter in shrieks<br />
Wiping eyes, our jaws sore from eating <br />
so many smiles<br />
Plates are cleared, the last spill wiped away, and the check is brought<br />
Augued over, divided up, accounted for, and calculated. Money is the End of Everything<br />
But only as a side conversation.<br />
Talk is resumed, coffee stirred, assent nodded, stories retold, and again.<br />
The restaurant is empty, the waitress gone, the bar closing- And we must leave?<br />
But the going is slow.<br />
There is talk in the parking lot<br />
Stars and comets, full moons, and next meetings<br />
Hugs are returned, and smiles exchanged<br />
Promises and dates are arranged.<br />
Finally, only two are left, talking<br />
The quiet ones. They sat at opposite ends, listening, enjoying<br />
After the cars are gone, the cooks have left, bedtimes passed<br />
They promise to meet again soon, and become best old friends, again.</p>
<br />
{% endblock %}

{% block bio %}
{{ super() }}
{% endblock %}