{% extends "issues/four/poem-base.html" %}
{% block style %}{{ style }}.css{% endblock %}
{% block image %}{{ style }}.png{% endblock %}

{% block title %}Jake Eduardo Vermaas{% endblock %}
{% block name %}Jake Eduardo Vermaas{% endblock %}

{% block poems %}
<h2>[ on a brokedown MAX train thinking of Icarus ]</h2>
<p>The ecosystem of a train car: sterile, hermetic&emsp;in<br />
diffidence or exile. Heads sealed in&emsp;dark mirror</p>
<p>glow&emsp;eyes narrow out of focus at a distance of the <br />
floor&emsp;slick white plastic casing&emsp;enclosing gloss</p>
<p>surfaces&emsp;sliding selves contained away from hard <br />
edges&emsp;figures & divisions&emsp;of city blocks where</p>
<p>once stood farms. But suppose one day was unique <br />
say a backroom deal spilled resistance from a cigar</p>
<p>lit room’s door to steps city hall&emsp;washed away on<br />
batons and pepper&emsp;spray waves to the&emsp;street</p>
<p>become citizens&emsp;blocking tracks.&emsp;Say this&emsp;day <br />
the orange container&emsp;you entered was&emsp;instead</p>
<p>faded yellow&emsp;darkened & altered&emsp;from another <br />
route, say at the halfway&emsp;point on the new bridge</p>
<p>it gripped the tracks & stopped. Then, the mobile <br />
city in miniature would at once be newly alien, an</p>
<p>immediate landscape of blurred faces and bodies <br />
firming to fellow fares, to unknown&emsp;names and</p>
<p>stories. Activity surrounds&emsp;stillness as workers <br />
labored orange vests in vain, silent curses versus</p>
<p>control panels on the fritz. After a time, small talk <br />
exhausted locked in while walkers pass as if on rails</p>
<p>forced eyes meet in shared affliction&emsp;a clever plot <br />
to bolt. An old couple gazes out a window perhaps</p>
<p>imagining melted wings, the geometry of a farmer’s <br />
field, a splash in the river at the edge of our frame.</p>
{% endblock %}

{% block bio %}
{{ super() }}
<p>Jake Vermaas is a 1.5 or 0.5-generation immigrant or a natural-born citizen, depending on who you ask. A poet and engineer in transit formerly of the Portland area, he founded or cofounded the Whitenoise Project, a BIPOC-centered reading series now entering its fourth year, as well as "on becoming&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;", a generative workshop space around the state and process of becoming.</p>
{% endblock %}