{% extends "/issues/four/poem-base.html" %}
{% block style %}{{ style }}.css{% endblock %}
{% block image %}{{ style }}.png{% endblock %}

{% block title %}Patricia Walsh{% endblock %}
{% block name %}Patricia Walsh{% endblock %}

{% block poems %}
<h2>Broken Water</h2>
<p>The sickly hologram boasts its authenticity<br />
Calling out for playtime in a crowdfunded take<br />
Crassly complicated beyond all recognition<br />
This nasty contraceptive scare boasts hundreds<br />
The red night sky promising better times.</p>

<p>This soft poison collates its swollen river<br />
No word of a lie, going through its motions<br />
Convincing the godly to strike another toss<br />
This hungry cliché doesn't augur well<br />
Unless things demand it, then you're in trouble.</p>

<p>Washed through rocks and stones, the gone deal<br />
The good things in life sidle by, as recommended,<br />
Moving out of derision, the purchased sleep,<br />
The perfected of life constantly ring up,<br />
Roaming charges no barrier to conversation.</p>

<p>Little is as does, constructing the desired life,<br />
Alternative stories goes from its own type,<br />
The original windows bite through the modern,<br />
Excellence despite surveillance gone to seed,<br />
Honing another skill at the next expense.</p>

<p>Saying nothing, at best, at this going rate,<br />
Watered down sympathy runs for more money<br />
The hard-won gifts an email example to avoid<br />
The broken water loved its own, a serious undertaking<br />
Ploughed after death, knowing that something is wrong.</p>
<br />
{% endblock %}

{% block bio %}
{{ super() }}
<p>Patricia Walsh was born in the parish of Mourneabbey, in north Co Cork,and educated at University College Cork, graduating with an MA in Archaeology. Her poetry has been published in Stony Thursday; Southword; Narrator International;  Trouvaille Review; Strukturrus; Seventh Quarry; Vox Galvia; The Quarryman; seeBrickplight, The Literatus, and Otherwise Engaged.  She has already published a chapbook, titled Continuity Errors  in 2010, and a novel, The Quest for Lost Éire, in 2014.  A further collection of poetry, titled Outstanding Balance, is scheduled for publication in early 2021.  She was the featured poet in the inaugural edition of Fishbowl Magazine, and is a regular attendee at the O Bheal poetry night in Cork city.</p>
{% endblock %}