{% extends "/issues/four/prose-base.html" %}
{% block style %}{{ style }}.css{% endblock %}
{% block image %}{{ style }}.png{% endblock %}

{% block title %}Allison Whittenberg{% endblock %}
{% block name %}Allison Whittenberg{% endblock %}

{% block poems %}
<h2>Choice</h2>
<p>Characters</p>
 
<p>WANDA 30ish Black woman, humbly dressed<br />
HELEN Wanda’s sister, flashily dressed</p>

<p>SOCIAL WORKER (heard only by phone)<br />
ASHLEY and BRITTNEY (two girls always off stage)</p>

<p>SETTING<br />
Kitchen of an apartment. Present day.<p class="text-center">
<br /><hr><br />
<p>(Wanda drinks coffee and reads the morning newspaper. The phone rings.)</p>
					<p class="text-center">SOCIAL WORKER (off stage)</p>
 <p>Hello, Miss Phillips, how are Brittany and Alicia?   </p>
					<p class="text-center">WANDA</p>
<p>Ashley’s fine too.</p>
					<p class="text-center">SOCIAL WORKER (off stage)</p>
<p>Oh, I’m sorry; I meant that. How are you?</p>
					<p class="text-center">WANDA</p>
<p>I’m fine.  How are you? </p>
					<p class="text-center">SOCIAL WORKER(off stage)</p>
<p>I’m fine.</p>
					<p class="text-center">WANDA</p>
<p>Good. </p>
				    <p class="text-center">SOCIAL WORKER(off stage)</p>
<p>Good.</p>
<p>(Wanda sips my coffee and glances at the end of section B, the obituary page.)</p>
					<p class="text-center">SOCIAL WORKER (off stage)</p>
<p>Their mother had another, Miss Phillips.  Another girl. It was born two days ago.  It has all ten fingers and all ten toes.</p>
					<p class="text-center">WANDA</p>
<p>How did she get pregnant again? I thought she was in jail.</p>
					<p class="text-center">SOCIAL WORKER (off stage)</p>
<p>She is.</p>
					<p class="text-center">WANDA</p>
<p>She’s in jail and pregnant?</p>
					<p class="text-center">SOCIAL WORKER (off stage)</p>
<p>She gave birth. I really hate calling you.  I hate telling you this.</p>
					<p class="text-center">WANDA</p>
<p>How could you let that happen?</p>
					<p class="text-center">SOCIAL WORKER (off stage)</p>
<p>I’m really the middle man.</p>
					<p class="text-center">WANDA</p>
<p>I can’t take on another child.</p>
					<p class="text-center">SOCIAL WORKER (off stage)</p>
<p>You don’t have to decide this minute.  Why don’t I call you in a few days?</p>
					<p class="text-center">WANDA</p>
<p>Where is she now?</p>
				 	<p class="text-center">SOCIAL WORKER (off stage)</p>
<p>In jail.</p>
					<p class="text-center">WANDA</p>
<p>No, the baby.</p>
					<p class="text-center">SOCIAL WORKER (off stage)</p>
<p>The facility has temporary housing for –</p>
					<p class="text-center">WANDA</p>
<p>That’s a sin.  The baby is in custody?</p>
					<p class="text-center">SOCIAL WORKER (off stage)</p>
<p>Miss Phillips, this is the way things work.</p>
					<p class="text-center">WANDA</p>
<p>How could you let this happen?</p>
					<p class="text-center">SOCIAL WORKER (off stage)</p>
<p>Please, I almost didn’t call, but I thought you should know.  Miss Phillips, I’m giving you too much at once.  I’ll call you back in a few days.</p>
					<p class="text-center">WANDA (to the audience)</p>
<p>I work in a gray building filing papers. There, when phones ring I answer them. </p>
<p>We look alike, my adopted children and me.  The rich mocha and cocoa hues of my skin matched theirs.  They look like childhood pictures of me and my sister with our wide brimmed noses, rust colored plaits, and genetic trademarks.  </p>
<p>Four could live as cheaply as three, right?  Right?  What’s another pair of school shoes, more money for milk, another college fund? I should take in that child. I have to.</p>
<p>I kept my hair short, but I straightened it.  I wear slacks most days, not skirts because I don’t have the time to fuss with leg shaving and panty hose.  </p>
<p>I haven’t had a date in two years, but it’s not my kids’ fault.  I never dated much before them.  </p>
<p>Brittany came addicted: underweight, about as heavy as a shadow, shaking, ashy complexioned.  I sat up with her many a night trying to undo what had been done to her while she lived in someone else’s womb.  I didn’t choose to have Ashley one year later.  If it was up to me, I would have spaced them in a three years span. I got Ashley at two weeks and even then, she looked stunted and underdeveloped.</p>
<p>So, now six years later, there’s an addition.</p>
<p>Ashley has trouble sleeping. What would it be like with a crying baby in the house?</p>
<p>Babies are so easy to love.  They are so small and helpless looking and have limited emotional range: they laugh and cry easily and are entertained with animal quilts and balloons and monotonous music. </p>
<p>(Helen enters the room.)</p>
					<p class="text-center">HELEN</p>
<p>Her tubes should be cut, and they should be fried </p>
					<p class="text-center">WANDA</p>
<p>The child is already here.</p>
					<p class="text-center">HELEN </p>
<p>Then let Steven Spielberg adopt it.  He likes our people.  He’s a millionaire.  You’re a secretary, barely making 30 a year.  He has an estate.  You have a lousy apartment.</p>
<p>(Helen sits as Wanda unpacks the groceries and sits as Wanda puts away the groceries and sits as Wanda begins making supper.) 	</p>
					<p class="text-center">HELEN</p>
<p>Stop trying to save the whole goddamn world.</p>
					<p class="text-center">WANDA</p>
<p>Do you have to put it like that, Helen?</p>
					<p class="text-center">HELEN</p>
<p>What, you want to be like everyone else?  So PC that I’m not saying anything. Look, I voted in the last election.  I serve on juries. I pay taxes on time.  I’ve even given the Red Cross a whole freaking, fracking pint of my blood.  I’m a good person.</p>
					<p class="text-center">WANDA</p>
<p>They aren’t the kind of girls where a lot of strangers would coo over.  I don’t think Steven Spielberg is the answer. </p>
					<p class="text-center">HELEN  </p>
<p>Why didn’t this woman have an abortion?  At least with an abortion, you know it’s over. Shit, doesn’t it bother her not knowing what happened to this little girl?</p>
					<p class="text-center">HELEN </p>
<p>I can’t leave her there.
					<p class="text-center">WANDA</p>
<p>Why not?  She’s not yours.  You keep messing around and you’re going to be like those people on 20/20, They got a kid from each country.  Shit.  It’s not your problem. Have them call up one of those Scientologists.  Are you crying?</p>
					<p class="text-center">HELEN</p>
<p>No, I’m just slicing onions.</p>
<p>(Helen gets up and takes the knife from Wanda’s hands.  She begins chopping, without tears or remorse.)</p>
					<p class="text-center">HELEN</p>
<p>Do you want to hear a joke?</p>
					<p class="text-center">WANDA</p>
<p>Right now?</p>
					<p class="text-center">HELEN</p>
<p>Yep.</p>
					<p class="text-center">WANDA</p>
<p>No, I’m not really in the mood to laugh.</p>
					<p class="text-center">HELEN</p>
<p>You’ll like this one because it has a moral.</p>
					<p class="text-center">WANDA</p>
<p>Shoot.</p>
					<p class="text-center">HELEN</p>
<p>Jesus is sitting around the table with the apostles <br />
and he asks Paul, Paul, what do you bring? Paul says,<br />
Sorry, Jesus, I forgot. Then Jesus turns to John and<br />
asks John, What did you bring? And John says, I'm <br />
sorry, I didn't bring anything. So Jesus says, Okay, <br />
apostles, you have done this to me time and time again:  <br />
This is your last supper… You see, even Jesus had His limits.</p>
<p>(The phone rings.  Wanda goes to pick it up.)</p>
					<p class="text-center">SOCIAL WORKER (off stage)     </p>
<p>Miss Philips? </p>
					<p class="text-center">WANDA</p>
<p>You said you would give me a few days.</p>
					<p class="text-center">BRITTANY (off stage)</p>
<p>Mommy, who is it?</p>
					<p class="text-center">HELEN</p>
<p>Is it --  </p>
					<p class="text-center">SOCIAL WORKER (off stage)</p>
<p>Miss Phillips, I know, but I really want to move on this.  We can arrange to have you take the child –</p>
					<p class="text-center">WANDA</p>
<p>I’m not going to do it. Find another home for her.</p>
					<p class="text-center">BRITTANY (Off Stage)</p>
<p>W-w-who’s h-her, Mommy?</p>
					<p class="text-center">HELEN</p>
<p>Brittany, be quiet. </p>
					<p class="text-center">SOCIAL WORKER (off stage)</p>
<p>Are you sure you don’t need more time to think about it? </p>
					<p class="text-center">ASHLEY (off stage)</p>
<p>Who’s Mommy talking to?</p>
					<p class="text-center">WANDA</p>
<p>I can’t, I told the lady. Helen, could you take the girls into the next room?</p>
					<p class="text-center">HELEN</p>
<p>You’re doing the right thing.</p>
					<p class="text-center">SOCIAL WORKER (off stage)</p>
<p>You can name this one. Miss Phillips -- </p>
<p>(Wanda hangs up the phone.)</p>
{% endblock %}

{% block bio %}
{{ super() }}
<p><strong>A Whittenberg</strong> is a Philadelphia native who has a global perspective. If she wasn’t an author she’d be a private detective or a jazz singer. She loves reading about history and true crime. Her other novels include <i>Sweet Thang, Hollywood and Maine, Life is Fine, Tutored and The Sane Asylum.</i></p>
{% endblock %}