{% extends "/issues/four/poem-base.html" %}
{% block style %}{{ style }}.css{% endblock %}
{% block image %}{{ style }}.png{% endblock %}

{% block title %}Keri Withington{% endblock %}
{% block name %}Keri Withington{% endblock %}

{% block poems %}
<h2>Laundry Day Meditation</h2>
<p>This is how I do Shuvah:</p>
<p>Breathe. Sync with September’s slow breeze.<br />
Squeeze laundry before hanging. Water a ring of clover round the line.<br />
Move pegs softly. Break webs when necessary.<br />
Stand still when chipmunks scamper. Let them fetch acorns.<br />
Gather ten witnesses: honeybees, crunchy maple leaves, toadstools.<br />
Apologize to the earth for my car in the driveway, the power line linking homes,<br />
styrofoam cup from the drive-through.</p>
<p>Listen to the mid-afternoon silence. New beginnings<br />
come in the tired buzz of late cicadas, tread of bare feet,<br />
whispered rustle of swaying grass.</p>
<br />
{% endblock %}

{% block bio %}
{{ super() }}
<p>Keri Withington is an educator, poet, and aspiring homesteader. Her poems have appeared in numerous journals and anthologies, recently including The Wild Word, and her two chapbooks: Constellations of Freckles (Dancing Girl Press) and Beckoning from the Waves (Plan B Press). Withington lives with her husband, three children, and four fur babies in the Appalachian foothills. You can find her in Zoom classes for Pellissippi State Community College, turning her yard into an orchard, or on FB (@KeriWithingtonWriter).</p>
{% endblock %}