{% extends "base.html" %}
{% block title %}Trestle Ties Issues{% endblock %}
{% block content %}
{{ super() }}
<div class="container tim-container" style="max-width:800px; padding-top:100px">
   <h1 class="text-center">Issues</h1>
   <h2><a href="{{ url_for('issue_four') }}">Issue Four</a> - Winter/Spring 2021</h2>
   <hr />
   <h2><a href="{{ url_for('issue_three') }}">Issue Three</a> - Spring/Summer 2020</h2>
   <hr />
   <h2><a href="{{ url_for('issue_two') }}">Issue Two</a> - Summer 2019</h2>
   <hr />
   <h2><a href="{{ url_for('issue_one') }}">Issue One</a> - Winter/Spring 2019</h2>
   <p><a href="{{ url_for('issue_one_contributors') }}">Issue One Contributors</a></p>
</div>
<div class="space"></div>
{% endblock %}