{% extends "issues/two/poem_base.html" %}

{% block image %} {{ img }} {% endblock %}
{% block title %}Ann Halvorsen{% endblock %}
{% block name %}Ann Halvorsen{% endblock %}

{% block poems %}
<h2>Sixteen</h2>
<p>This coyote morning in the city woods<br />
As raw coastal fog shoves summer offshore<br />
Ragged shapes hurry through the grey,<br />
&emsp;&emsp;&emsp;Nosing out warm air pockets<br />
Scouting for moving edibles<br />
The young green of false spring long gone<br />
Replaced by khaki hills, feint gold at sunset.<br />
<br />
I remember Eastern summer green<br />
Emerald, lit with thunder and wet heat<br />
Never more than at sixteen, on my own,<br />
Watching the family wagon’s brake lights blink,<br />
As it turned through drifts of stippling shade<br />
And my brother stretched out the window<br />
&nbsp;&nbsp;for a final wave-<br />
&emsp;&emsp;&emsp;Dangling<br />
In my sudden freedom.<br />
<br />
I saw you through a clutch of veterans unloading cars,<br />
Waving, bouncing into greetings<br />
&emsp;&emsp;&emsp;With last year’s friends;<br />
While we green rookies read others’ careful approaches,<br />
&emsp;&emsp;&emsp;leaned into twos and threes<br />
Camp counselors all<br />
Awash in an idyll soon to be brimmed with kids<br />
Most matching your skin, not mine.<br />
<br />
You and I traced the backwoods that night<br />
And later, turning from our low-toned talk<br />
&emsp;&emsp;&emsp;to detail my face <br />
Your words were those of an artist<br />
Telling me<br />
You too had seen me<br />
From the first<br />
<br />
The night’s soft buzz, rife with fireflies, laughter,<br />
Guitar notes lifting from a porch downhill<br />
Layered scents of wood and pristine cabins<br />
All hinted at a deeper green,<br />
Of the flush ripeness to come<br />
Sixteen <br />
And I swallowed summer whole.<br />
<br />
Coyotes may move among those trees now,<br />
Emerging to the crisp dusk of late fall’s gold<br />
Or searching for new life in the callow spring<br />
When nascent green shows itself again.<br />
<br />
They won’t come for summer.<br />
Like us, they will have migrated, <br />
Settling elsewhere for cooler climes.<br />
</p>
<hr />
<h2>Aftermath</h2>
<p>
Your windowpanes were slurred finger paint<br />
&emsp;&emsp;&emsp;in the half light,<br />
And the rain splicing the air with lightning drills<br />  			 
Gave us a pass<br />
To stay in and ignite the dark <br />
<br />
That morning the teapot<br />
Screeched and blew<br />
And boiled itself near dry,<br />
While we were busy <br />
Not overlooking anything.<br />
<br />
Later, emerging to mid-summer’s emerald,<br />
Stretching muscles reluctantly freed;<br />
I could still feel my mouth bringing you back<br />
From wherever your eyes had gone<br />
Like a man who’d slipped out for cigarettes<br />
And never returned.<br />
<br />
I was the one who would leave.<br />
<br />
And now, over this curve of hill <br />
The bay’s mouth spills through the eucalyptus trees, <br />
Their avid leaves applaud the damp rush of thunder<br />
And I am ambushed by your absence, <br />
By memories of the lush aftermath<br />
&emsp;&emsp;&emsp;of a morning storm. <br />
</p>

{% endblock %}

{% block bio %}
{{ super() }}
<p>A New York native, Ann relocated 40 years ago to San Francisco for doctoral study in disability. Research and inclusive schooling were themes of prior publications. Now a Professor Emerita, she has more time to read and write poetry at last. Poems have appeared in <i>Broken City, Writers’ Café Magazine, The Road Not Taken,</i> and <i>Poetry Quarterly. Where There’s Fire</i> will appear this Spring in the forthcoming anthology <i>After/Ashes</i> (Wordspring Press) on the devastating 2018 Camp Fire, in Paradise, California.</p>
{% endblock %}