{% extends "work_base.html" %}

{% block title %}Benjamin Juitt{% endblock %}
{% block name %}Benjamin Juitt{% endblock %}

{% block poems %}
<h2>The Horse</h2>
<p>
Man, I’m so hungry I could eat a horse right now…<br />
<br />
Never in my life have I gone a day without eating. <br />
<br />
The average American Appaloosa Horse weighs around seven hundred pounds.<br />
An experienced butcher yields forty five percent of a horse’s weight in edible meat.<br />
An average family eats one hundred pounds of food per week.<br />
For those of you versed in arithmetic, you already know that the average family <br />
consumes an entire American Appaloosa horse every three weeks.<br />
<br />
Never in my life have I gone a day without eating. <br />
<br />
Chinese students and workers involved in the Tiananmen Square protests <br />
fasted to prove the severity of the issues they faced to the Chinese government.<br />
They refused to eat for seven days.<br />
<br />
Never in my life have I gone a day without eating. <br />
<br />
Steve Vai was on a ten day fast when he recorded<br />
his most popular song, “For the love of god”.<br />
He said the fast put him in a psychedelic state of mind where he described the experience as<br />
“Moments of clarity that transcend normal perspective”.<br />
<br />
Never in my life have I gone a day without eating. <br />
<br />
Mahatma Mohandas Gandhi was a friend to the fast. <br />
He utilized them to make political statements and purify himself.<br />
Gandhi’s longest fast was twenty one days.<br />
When I say that I want to shoot myself, maybe it doesn’t mean <br />
I’m ready to take a .22 and point it at my head and pull the trigger, but...<br />
<br />
Never in my life have I gone a day without eating
</p>
{% endblock %}

{% block bio %}
{{ super() }}
<p>Benjamin Juitt is a student at the University of Massachusetts Amherst. He is a Chemical Engineering major and has a consistent drive to improve and learn. Outside of schoolwork Ben reads and writes poetry, plays guitar, and is a competitive ultimate frisbee player. Benjamin plays ultimate at the national level, and currently competes with the UMass Amherst Ultimate team. Benjamin’s favorite poet and greatest inspiration is Neil Hilborn, whose impactful slam poetry helped Ben find his own poetic voice.</p>
{% endblock %}