{% extends "work_base.html" %}

{% block title %}Chris Salveson{% endblock %}
{% block name %}Chris Salveson{% endblock %}

{% block poems %}
<h2>drank</h2>
<p>
I finally found you last night<br />
you were waiting for me with a beer in your hand<br />
I remembered you from the many dreams<br />
and you had a look like you remembered me too<br />
these aren’t the words I have to tell you<br />
or I’m going to tell you<br />
the next time we see each other<br />
this is just the bird chirp of flicking tongue<br />
when you rolled your neck and cradled me closer<br />
or when you dipped your chin to look at me<br />
as if down the barrel of a hot gun<br />
I think you saw me with the pool stick <br />
in my hands and I made the shot<br />
I think you wanted me as in face down on the table<br />
but I can’t be sure<br />
I was making eye contact all night and was proud about it<br />
you flicked your lashes in ways I don’t know how to<br />
and I like how you painted my nails a luscious green<br />
they look horrifyingly blue in this light of my computer<br />
I close the blinds everyday except when I’m naked<br />
and open them again at night to see if I can see god<br />
the dark lamellar ivy extremis <br />
I didn’t see him last night but I found you<br />
I didn’t drag my body through spaghetti westerns<br />
&now my nails are the color of the green felt table<br />
we played cutthroat on and I beat you<br />
and your friends<br />
hopefully I have your respect<br />
I honestly don’t know if you have mine I’m sorry<br />
this isn’t a love poem<br />
this is a rap song I play for my inner child<br />
I’m just so happy to be alive <br />
to still be alive (and insane)<br />
I’ll drink your rainwater if you stay alive with me<br />
there, now that was nice, right<br />
</p>
{% endblock %}

{% block bio %}
{{ super() }}
<p>If you'd like a bio on the issue's credits page, please email one to <a href="mailto:trestleties@gmail.com">trestleties@gmail.com</a></p>
{% endblock %}