{% extends "issues/two/poem_book_base.html" %}

{% block image %} {{ img }} {% endblock %}
{% block theme %} {{ css }} {% endblock %}
{% block title %}Eliot Cardinaux{% endblock %}
{% block name %}Eliot Cardinaux{% endblock %}

{% block poems %}
<h2>Awakening</h2>
<p>
&emsp;&emsp;&emsp;<i>For Bei Dao</i>
<br /><br />
Today,<br />
even the only answer,<br />
raised like a child’s hand <br />
begins to blink,<br />
<br />
built up like a city<br />
to open ecology’s lid<br />
where the mask tears up<br />
and the letter-shreds <br />
burn toward heaven<br />
with shaking fists.<br />
<br />
A newborn,<br />
screaming like iron ore,<br />
today is a chisel<br />
yearning for badlands,<br />
wedged behind protest<br />
under a blinking hammer.<br />
<br />
Tomorrow still grips <br />
the controls of a sleeping bull,<br />
through the thin double reed<br />
of advertising<br />
</p>
<hr />
<h2>Thoughts of a Dying Tree</h2>
<p>
&emsp;&emsp;&emsp;<i>For my Father</i><br />
<br />
There are no questions <br />
for there is no speech,<br />
each sphere suggesting trills <br />
in a calm notation.<br />
<br />
Where, up north, an angel <br />
glowers — south, discarded <br />
needles redden, in a passive <br />
axis, celebrating death.<br />
<br />
What happened to the wings <br />
of each star’s direction, <br />
every interaction<br />
camouflaged by unity? <br />
<br />
What mathematic shadow<br />
that surrounds<br />
this earth of fiction<br />
with its mind of chance<br />
<br />
falls free from the bones,<br />
and like description, gathers <br />
around an absent root?<br />
That’s why<br />
<br />
we need a coney fire<br />
and a coffin to choose.<br />
</p>
{% endblock %}

{% block bio %}
{{ super() }}
<p>Eliot Cardinaux is a poet and pianist living in Northampton, Massachusetts. He is the founder and editor of The Bodily Press, through which he has released the work of others, as well as several of his own chapbooks and CDs. He has led or co-led musical projects such as <i>American Thicket, Gestures, Cleanness, Magpie: Six Feet on Solid Ground, Sweet Beyond Witness, Odysseus Alone,</i>and <i>take me by the hand of darkness</i>. His most recent chapbooks include <i>Winter Poems, and Dommages</i>. He performs and records regularly along the Northeast U.S. and in Europe, with musicians such as Flin van Hemmen, Mat Maneri, Jeb Bishop, Asger Thomsen, Will McEvoy, Max Goldman, Mia Dyberg, and Kresten Osgood.<br /><br /><a href=http://eliotcardinaux.com target="_blank">eliotcardinaux.com</a><br /><a href="http://bodilypress.com/" target="_blank">bodilypress.com</a></p>
{% endblock %} 