{% extends "issues/two/poem_book_base.html" %}

{% block image %} {{ img }} {% endblock %}
{% block theme %} {{ css }} {% endblock %}
{% block title %}Emilie Menzel{% endblock %}
{% block name %}Emilie Menzel{% endblock %}

{% block poems %}
<h3>The Animals I Have Lived in the Span of My Adolescence</h3>
<p "text-justify">
<br />
Slowly, you are learning this grey dulling April. You are learning <br />
patience for cold. You are learning that snails may sleep in snow <br />
mounds to maintain solid interiority. You practice your snail pose <br />
for weeks under your bed covers, now musty from all your night <br />
sweats. You practice curling more tightly to maintain interiority. If<br />
sleep keeps your eyes closed, further stimuli cannot be entered into <br />
the system. You are learning how to manage the stimuli in your <br />
system. Keep new stimuli out of the system.<br />
<br /><br />
Snow leopard: <i>Panthera uncia. Panthera</i> on the resemblance of <br />
cranial features. The dorsal profile of the skull tolerably convex,<br />
the basicranial axis horizontal, the convexly rounded chin sloping. <br />
<i>Panthera. Pantherinae,</i> a subfamily first named and described in <br />
1917. <i>Panthera.</i> The absence of a snow leopard roar, it was <br />
assumed, was because of the incomplete ossification of the snow <br />
leopard’s hyoid bone. <i>Panthera. Panthera, Pantherinae,</i> then <br />
<i>Felidae.</i> The snowy leopard, properly referred to as the snow <br />
leopard, properly referred to as <i>Panthera uncia. Felidae.</i> Study the <br />
mammal encyclopedia to select your large <i>Felidae</i> species. My <br />
brother loved a jaguar. I loved a snow leopard. <i>Felidae. Felidae,</i> a <br />
lineage of carnivores with gracile and muscular bodies. <i>Felidae, </i><br />
originating in Asia and spreading across continents through land <br />
bridges. <i>Felidae,</i> when your coat becomes a pelt. <i>Felidae,</i> then <br />
<i>Carnivora</i>, where-in creatures have large teeth and claws for flesh. <br />
The better to eat you with my pretty. The better to see you with my <br />
pretty. <br />
<br /><br />
The wallaby stuffed animal creature is not recommended for <br />
cradling. He has sharp and inflexible leather nails and ears, has <br />
been over stuffed, could be used as a small brick. The wallaby <br />
stuffed animal creature: may be used as a presence against the <br />
small of a back to protect the child from wandering fear that larger <br />
and less predictable creatures will enter their room at night. <br />
Children learn to fear feeding creatures one way or another, but the <br />
wallaby helps delay exposure. We do not believe in exposure <br />
therapy.<br />
<br /><br />
You learn early that you can kill ants if you gaze them deeply <br />
through a lens darkly slanted. Gaze and observe, but not so sharply <br />
that the sun focuses or angles towards destruction. Squint if <br />
necessary. Shade your eyes if necessary. Do not look at all if <br />
necessary. If you gaze, gaze gently. Those of us gazed learn most <br />
quickly to be more gentle gazers. Those of us rarely under the <br />
knife are often unaware of our own carving power.<br />
<br /><br />
She has dissected a cow’s eye. She has sliced it like an egg. She <br />
has scraped away its iris. The texture is resistant, rubbery in <br />
resistance. She has written reports on distinctions between the eyes <br />
of octopuses and giant squids. Phylum <i>Mollusca</i> of the <br />
invertebrates. Phylum <i>Chordata</i> of the human eye, the vertebrates, <br />
the lemur. Phylum <i>Chordata</i> the vertebrates the fish eye. Phylum <br />
<i>Chordata</i> the vertebrates. Giant squids have the largest eye of all <br />
creatures. Invertebrates vastly outnumber chordates. The human <br />
eye is disappointingly flimsy in its visual spectrum range. <br />
<br /><br />
I learn the desire to make houses out of sticks and stairs out of <br />
stone with my own calloused hands. I build the desire to build a <br />
home, and I build my home. Abalone is pronounced with both hard <br />
‘o’ and ‘e.’ Abalone are edible mollusca of warm seas. Abalone are <br />
pierced with respiratory holes. My breathing is not pierced with <br />
respiratory holes. I am not pneumostomed. I can carry air much <br />
further distances. Seals may eat pneumostomed creatures if water <br />
temperatures sort conveniently. Most often, however, if an abalone <br />
is eaten by a mammal, the mammal will be an otter.<br />
<br /><br />
I ask my father the biologist to classify our family members within <br />
the taxonomic family systems <i>Bovidae</i> and <i>Cervidae.</i> We are <br />
standing beside a taxidermied okapi within the Natural History <br />
Museum in Washington, D.C. My father takes several minutes to <br />
reflect. I leave his side to explore the other taxidermies: one of the <br />
last tasmanian devils, a pangolin, a tenrec, a mountain goat leaping <br />
from a tan mountain lion. As a child on family walks through the <br />
forest, my parents would call me their little mountain goat. I return <br />
to my father’s side. My mother is an antelope. My father is a water <br />
buffalo. My brother is not named. I am a dik dik, and the <br />
identification as such a petite hoofed creature signifies that I am <br />
greatly loved.<br />
<br />
<br />
<br />
<sup>Note: Moments of language about snow-leopards were inspired by language 
from Fauna of British India Mammalia Volume 1 (second edition) (Reginald 
Innes Pocock), “On the Tooth-change, Cranial Characters, and Classification of 
the Snow-Leopard or Ounce (Felis uncia)” (Reginald Innes Pocock), and “Hyoid 
structure, laryngeal anatomy, and vocalization in felids (Mammalia: Carnivora: 
Felidae)” (G. Peters & M.H. Hast).</sup>
</p>
{% endblock %}

{% block bio %}
{{ super() }}
<p>Emilie Menzel is an Atlantan poet and writer whose work seeks to engage with both creative and analytical properties of language. Her recent writing explores the language of fables and fairy tales, grief and haunting, and metamorphoses of the body. Emilie is the recipient of the Deborah Slosberg Memorial Award in Poetry (selected by Diana Khoi Nguyen, 2019), the Cara Parravani Memorial Award in Fiction (selected by Leigh Newman, 2019), and just this spring completed her MFA in poetry at the University of Massachusetts Amherst. Follow along for updates/reading suggestions/assorted findings @emilieideas.</p>
{% endblock %}