{% import "mission.html" as mission %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Cardo" rel="stylesheet" type='text/css'>
    <link href="/css/issue_two.css" rel="stylesheet" type="text/css" />
    <title>Trestle Ties - Issue Two</title>
  </head>
  <body>
    <div id="container">
        <div id="banner">
            <h1 class="display-1">Trestle Ties</h1>
            <h1>Issue Two</h1>
        </div>
        <div id="content" class="shadow-lg p-3 mb-5 bg-white rounded">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <div class="card">
                            <div class="card-body name-card-body">
                                <h3><a href={{ url_for("issue_two_page", name="ann_halvorsen") }}>Ann Halvorsen</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="card">
                            <div class="card-body name-card-body">
                                <h3><a href={{ url_for("issue_two_page", name="benjamin_juitt") }}>Benjamin Juitt</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="card">
                            <div class="card-body name-card-body">
                                <h3><a href={{ url_for("issue_two_page", name="chris_salveson") }}>Chris Salveson</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <div class="card" >
                            <div class="card-body name-card-body">
                                <h3><a href={{ url_for("issue_two_page", name="eliot_cardinaux") }}>Eliot Cardinaux</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="card" >
                            <div class="card-body name-card-body">
                                <h3><a href={{ url_for("issue_two_page", name="emilie_menzel") }}>Emilie Menzel</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="card" >
                            <div class="card-body name-card-body">
                                <h3><a href={{ url_for("issue_two_page", name="gerard_sarnat") }}>Gerard Sarnat</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <div class="card" >
                            <div class="card-body name-card-body">
                                <h3><a href={{ url_for("issue_two_page", name="laurie_kolp") }}>Laurie Kolp</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="card" >
                            <div class="card-body name-card-body">
                                <h3><a href={{ url_for("issue_two_page", name="margaret_foley") }}>Margaret K. Foley</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="card" >
                            <div class="card-body name-card-body">
                                <h3><a href={{ url_for("issue_two_page", name="robert_okaji") }}>Robert Okaji</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <div class="card">
                            <div class="card-body name-card-body">
                                <h3><a href={{ url_for("issue_two_page", name="shriram_sivaramakrishnan") }}>Shriram Sivaramakrishnan</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="card" >
                            <div class="card-body name-card-body">
                                <h3><a href={{ url_for("issue_two_page", name="sonya_lara") }}>Sonya Lara</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="card" >
                            <div class="card-body name-card-body">
                                <h3><a href={{ url_for("issue_two_page", name="tara_dasso") }}>Tara Dasso</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <div class="card">
                            <div class="card-body name-card-body">
                                <h3><a href={{ url_for("issue_two_page", name="william_doreski") }}>William Doreski</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="card">
                            <div class="card-body name-card-body">
                                <h3><a href={{ url_for("issue_two_page", name="zachery_elbourne") }}>Zachery Elbourne</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <div class="card card-footer">
                            <div class="card-body">
                                <h3><a href={{url_for("issue_two_page", name="theodore_blackshear_bowen") }}>Artwork by Theo Bowen</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer">
            <div id="container">
                <h3>Thank You For Reading</h3>
                <hr />
                {{ mission }}
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>