{% extends "issues/two/poem_book_base.html" %}

{% block image %} {{ img }} {% endblock %}
{% block theme %} {{ css }} {% endblock %}
{% block title %}Laurie Kolp{% endblock %}
{% block name %}Laurie Kolp{% endblock %}

{% block poems %}
<h2>Tarred in Sand Cento</h2>
<p>
We are sticky in our old friendship,<br />
wish the minutes new identities&mdash;<br />
<br />
the blood of the lover I wanted to save.<br />
How the light is bent in your voice.<br />
<br />
It articulates sunlight and shadows,<br />
ink from the corners of my mouth.<br />
<br />
The waves encroach like death,<br />
jeopardize the birdsong of our days<br />
<br />
keeping what you left between us<br />
shawled in the salt scrim of a sea breeze.<br />
<br /><br /><br /><br /><br /><br />
<sup>Cento Credits: L1-Mona Van Duyn, A Time of Bees; L2-Dick Allen, Guarding the Minutes; L3-Leslie Adrienne Miller, Photograph of People Dancing in France; L4-Michele Wolf, Astigmatism: L5-Dana Gioia, Words; L6-Mark Strand, Eating Poetry; L7-Denise Duhamel and Maureen Seaton, Ocean Breeze Sonnet; L8-June Jordan, 6.3.96-6.4.96; L9-Claudia Emerson, Eight Ball; L10-Sylvia Plath, Heavy Woman</sup>
</p>
{% endblock %}

{% block bio %}
{{ super() }}
<p>Laurie Kolp’s poems have appeared in the Southern Poetry Anthology VIII: Texas, Stirring, Whale Road Review, Pith, Rust + Moth, and more. Her poetry books include the full-length Upon the Blue Couch and chapbook Hello, It's Your Mother. An avid runner and lover of nature, Laurie lives in Southeast Texas with her husband, three children, and two dogs.</p>
{% endblock %}