{% extends "issues/two/poem_book_base.html" %}

{% block image %} {{ img }} {% endblock %}
{% block theme %} {{ css }} {% endblock %}
{% block title %}Margaret K. Foley{% endblock %}
{% block name %}Margaret K. Foley{% endblock %}

{% block poems %}
<div style="width:505px;">
<h2>The Indian Mealmoth, or <i>Plodia interpunctella</i>, Commonly Known as the Pantry Moth</h2>
<br />
<p class="text-justify">Twenty traps was the most we had in the apartment at one time, I think. I don’t remember much about that time very clearly anymore. I killed them with my hands. I slapped the walls with magazines, folders, smashing them. Once you see a pantry moth, you can be sure it has already laid its eggs. They infest dried food, especially grains and vegetable-based products. We tried freezing our food; It didn’t work. The eggs survived. We found beasts in our oatmeal, in our tea. And although the pantry moth is not dangerous to eat, neither of us wanted that kind of egg pasta. The lifecycle of a pantry moth ranges from 30 to 300 days. They are notoriously hard to get rid of. I grew to love them. I also wished they would go. In my dream three nights ago, I learned the Indian mealmoth makes up 99% of nutrients in a bagel. Once you see one, you can be sure it has already laid its eggs.</p>
</div>
<hr />
<h2>Instructions on Waking</h2>
<br />
<div style="width:510px;">
<p class="text-justify">
You will want to drown. Don’t. Look down to the bottom of the river. I don’t know if you can see the rocks, but if you can, dip your hand into the water. Curl and uncurl your fingers, stretch your palm, spread the span of your hand from thumb to finger. You are tentative. Maybe if you breathe deeply, you will feel the icy minutes, the immortal foam rushing across your skin. It is a friction you crave. Maybe if you touch your palms and fingers to your blue legs, you will see the sky. See: It is omniscient. It is changeable. It swings from cement. Can you feel copper on the surface of your eyes? You are in hypo-arousal. You will die, and before you die, your body will transform atoms. You are a vessel for running hooves. You are a collection of horsehair. You are a timeline of steel. And your eyes are lapis glass peas, revolving eternities, darkened rooms, circadian riddles, embroidered, innumerable constellations of concerted years within the eternal revolution of cells.</p>
</div>
{% endblock %}

{% block bio %}
{{ super() }}
<p>Margaret K. Foley is a poet, writer, musician, editor, and transcriber. She is from Illinois and lives in Western Massachusetts, by way of Prague. Ms. Foley received her Master of Fine Arts in Poetry from the University of Massachusetts Amherst in May 2019. She was a host of the jubilat/Jones Poetry Reading Series from 2016 - 2018. Ms. Foley also received a Bachelor of Arts degree in English from Augustana College in Rock Island, Illinois in 2011. She is a classically-trained violinist. In the past, she has been an English teacher for Czech three-year-olds, a musical instrument store employee, and a digital marketing publisher and copywriter. Visit her website at <a href="http://www.margaretkfoley.com" target="_blank">www.margaretkfoley.com</a>.</p>
{% endblock %}