{% extends "work_base.html" %}

{% block title %}Margaret K. Foley{% endblock %}
{% block name %}Margaret K. Foley{% endblock %}

{% block poems %}
<h2>The Indian Mealmoth, or <i>Plodia interpunctella</i>, Commonly Known as the Pantry Moth</h2>
<br />
<p>Twenty traps was the most we had in the apartment at one time, I <br />
think. I don’t remember much about that time very clearly anymore. I killed them <br />
with my hands. I slapped the walls with magazines, folders, smashing <br />
them. Once you see a pantry moth, you can be sure it has already laid its <br />
eggs. They infest dried food, especially grains and vegetable-based <br />
products. We tried freezing our food; It didn’t work. The eggs survived. <br />
We found beasts in our oatmeal, in our tea. And although the pantry moth <br />
is not dangerous to eat, neither of us wanted that kind of egg pasta. The <br />
lifecycle of a pantry moth ranges from 30 to 300 days. They are <br />
notoriously hard to get rid of. I grew to love them. I also wished they <br />
would go. In my dream three nights ago, I learned the Indian mealmoth <br />
makes up 99% of nutrients in a bagel. Once you see one, you can be sure it <br />
has already laid its eggs.</p>
<hr />
<h2>Instructions on Waking</h2>
<br />
<p>
You will want to drown. Don’t. Look down to the bottom of the river. I <br />
don’t know if you can see the rocks, but if you can, dip your hand into the <br />
water. Curl and uncurl your fingers, stretch your palm, spread the span of <br />
your hand from thumb to finger. You are tentative. Maybe if you breathe <br />
deeply, you will feel the icy minutes, the immortal foam rushing across <br />
your skin. It is a friction you crave. Maybe if you touch your palms and <br />
fingers to your blue legs, you will see the sky. See: It is omniscient. It is <br />
changeable. It swings from cement. Can you feel copper on the surface of <br />
your eyes? You are in hypo-arousal. You will die, and before you die, your <br />
body will transform atoms. You are a vessel for running hooves. You are a <br />
collection of horsehair. You are a timeline of steel. And your eyes are lapis <br />
glass peas, revolving eternities, darkened rooms, circadian riddles, <br />
embroidered, innumerable constellations of concerted years within the <br />
eternal revolution of cells.</p>
{% endblock %}

{% block bio %}
{{ super() }}
<p>If you'd like a bio on the issue's credits page, please email one to <a href="mailto:trestleties@gmail.com">trestleties@gmail.com</a></p>
{% endblock %}