{% extends "issues/two/poem_book_base.html" %}

{% block image %} {{ img }} {% endblock %}
{% block theme %} {{ css }} {% endblock %}
{% block title %}Robert Okaji{% endblock %}
{% block name %}Robert Okaji{% endblock %}

{% block poems %}
<h2>Down and Away</h2>
<p>
How soon we lose the scent<br />
of our first love's<br />
<br />
body, that odor of perfume<br />
over sweat and uncertainty<br />
<br />
and the overwhelming surge<br />
into what will never again<br />
<br />
be new. You shake yourself<br />
back, wondering <br />
<br />
if falling stars could choose<br />
to rise again, whether <br />
<br />
they would rejoin the firmament<br />
or simply retreat deeper into the <br />
<br />
ocean's black, cooling, sliding <br />
down and away, slipping <br />
<br />
free of regret, evading forever<br />
the sun's long fingers.<br />
</p>
{% endblock %}

{% block bio %}
{{ super() }}
<p>Robert is a half-Japanese poet living in Texas. My work has appeared or is forthcoming in <i>Clade Song, Taos Journal of International Poetry and Art, Panoply, Kissing Dynamite</i> and elsewhere.</p>
{% endblock %}