{% extends "issues/two/poem_base.html" %}

{% block image %} {{ img }} {% endblock %}
{% block title %}Shriram Sivaramakrishnan{% endblock %}
{% block name %}Shriram Sivaramakrishnan{% endblock %}

{% block poems %}
<h2>9 to 5</h2>
<p>
sometimes a bird clamps on a train track<br />
for its early morning song --<br />
an inverted question mark with a dot<br />
for the world<br />
<br />
the first hint<br />
of a train<br />
tickles the bird’s claw<br />
like a Richter scribble<br />
<br />
long before the train trundles in<br />
before the screech of its wheels<br />
cracks the dawn<br />
and the tracks trivialize the song<br />
</p>
{% endblock %}

{% block bio %}
{{ super() }}
<p>Shriram Sivaramakrishnan is a proud alumnus of Seamus Heaney Centre for Poetry. His poems have recently appeared in Allegro, Coast to Coast to Coast, Bird's Thumb, Pidgeonholes, among others. His debut pamphlet, Let the Light In, was published by Ghost City Press in June 2018. He tweets at <a href="https://twitter.com/shriiram">@shriiram.</a></p>
{% endblock %}