{% extends "issues/two/poem_base.html" %}

{% block image %} {{ img }} {% endblock %}
{% block title %}Sonya Lara{% endblock %}
{% block name %}Sonya Lara{% endblock %}

{% block poems %}
<h2>Hands of the Depressed</h2>
<p>
<i>Hands: the instrumentality of a person-Oxford English Dictionary</i><br />
<br />
Inside<br />
they pose placidly,<br />
one covering the other,<br />
two limp fish<br />
with purple veins faded<br />
like old watercolor strokes,<br />
the art of dry scaled <br />
existence measured<br />
in length unmoved. <br />
<br />
Outside<br />
the wind peels scales<br />
raw until movement<br />
becomes indigestible.<br />
Placed in pockets,<br />
annuli spins like a rolling<br />
hourglass, time like <br />
winter petals, lost. <br />
</p>
<hr />
<h2>The Separation</h2>
<p>
I’m dull as a fish floating,<br />
fat lips unmoved by rusted hook<br />
seeking pressure. With touch,<br />
my scales rip like wet paper,<br />
an armor easily undone. Skinless,<br />
I sin, the pink of my flesh an<br />
unfaithful sunset to be weighed<br />
and sold to a new pair of hands.<br />
</p>
<hr />
<h2>I Live Inside a Light Bulb, Dangling.</h2>
<p>
Nights are cold<br />
and days lonely, the filaments<br />
borrowed spider legs crisping<br />
with your flick of a switch.<br />
The pinned insects on your wall<br />
eye my hands jealously,<br />
shifting purposely in their<br />
Christ-like pose, guilt a<br />
heat of its own. Cheek against<br />
the warmed glass, I remember<br />
the belly of your palm, the freckle<br />
by your knuckle an<br />
estranged pupil staring.<br />
Here, I am to be safe, with<br />
counted blinks and anchored feet,<br />
but your hands have lied before.<br />
</p>
{% endblock %}

{% block bio %}
{{ super() }}
<p>Sonya Lara served as the Associate Fiction Editor for The Madison Review at the University of Wisconsin-Madison where she received her BA in English-Creative Writing. Currently, she is the Co-Founder, Poetry Editor, and Social Media Manager for Rare Byrd Review, an Editor-at-Large for Cleaver Magazine, and an MFA poetry candidate at Virginia Tech. Her work has appeared in Prairie Voices and Wisconsin’s Best Emerging Poets: An Anthology. For more information, visit sonyalara.com. </a></p>
{% endblock %}