{% extends "issues/two/poem_book_base.html" %}

{% block image %} {{ img }} {% endblock %}
{% block theme %} {{ css }} {% endblock %}
{% block title %}Tara Dasso{% endblock %}
{% block name %}Tara Dasso{% endblock %}

{% block poems %}
<h2>Countdown</h2>
<p>
<b>9</b> attempts to find the perfect dress, forest green with tiny white flower buds on the hem and bodice<br />
<b>8</b> o’clock the reservation set, the smell of tandoori spices and roasted meat burns her nostrils as she comes in from the cold<br />
<b>7</b> months to finally get the tapes that ran relentlessly in her head to quiet; the scars inflicted by another at last begin to fade<br />
<b>6</b> her lucky number<br />
<b>5</b> bad dates before this one, the narcissist in the Rush t-shirt the worst of the lot<br />
<b>4</b> things they have in common<br />
<b>3</b> times she’s laughed in the last hour<br />
<b>2</b> people both looking for the person whose broken pieces fit with theirs<br />
<b>1</b> deep breath before she decides to take a chance on the uncertain<br />
</p>
{% endblock %}

{% block bio %}
{{ super() }}
<p>Tara Dasso is a poet from Western Massachusetts whose work focuses on finding the extraordinary in ordinary interactions between people. She is co-founder of Write-up Springfield, a monthly group offering a chance for Springfield area writers to come together to write, collaborate, and share resources. Her poems  will be featured in upcoming issues of Dark Ink Magazine and Silkworm.</p>
{% endblock %}