{% extends "issues/two/poem_base.html" %}

{% block image %} {{ img }} {% endblock %}
{% block theme %} {{ css }} {% endblock %}
{% block title %}Theodore Blackshear Bowen{% endblock %}
{% block name %}Theodore Blackshear Bowen{% endblock %}

{% block poems %}
<p>Theo Bowen is a content creator based in Portland, Oregon <br />
He can be found at <a href="https://www.instagram.com/truckzero/">@truckzero on instagram</a><br /><br />
for inquiries contact 
<a href="mailto:momswithsoda@gmail.com">momswithsoda@gmail.com</p>
{% endblock %}

{% block bio %}
{{ super() }}
{% endblock %}