{% extends "issues/two/poem_base.html" %}

{% block image %} {{ img }} {% endblock %}
{% block title %}William Doreski {% endblock %}
{% block name %}William Doreski {% endblock %}

{% block poems %}
<h2>Tobacco Monster</h2>
<p>
At the edge of a stubble field<br />
a clutch of men kneads a blob<br />
of green gelatinous matter.<br />
<br />
You ask about that greasy mess.<br />
“Tobacco monster,” I explain,<br />
a term for green tobacco pulped<br />
<br />
for easy shipping in tank trucks.<br />
Factories in North Carolina<br />
will dry and flake the tobacco<br />
<br />
for cigarettes to peddle to kids<br />
who’ll never smoke shed-cured leaf.<br />
Sometimes tobacco monsters<br />
<br />
escape before the trucks arrive.<br />
They slither down drains to rivers,<br />
where they dissipate in toxins<br />
<br />
that snuff the last gasp of life<br />
from every creature or plant<br />
the waxen swirl encounters.<br />
<br />
No, it’s not illegal to kill off<br />
nature with a natural poison.<br />
Watch the men. They drove north<br />
<br />
from the Deep South to work here,<br />
their pay heavy in their pockets.<br />
The field gleams like beaten gold <br />
<br />
in your favorite John Donne poem.<br />
The tobacco monster groans with pleasure<br />
like a Berkshire hog being scratched.<br />
<br />
You appreciate the pastoral <br />
look of this moment in time.<br />
But if some grim autumn night<br />
<br />
a rouge tobacco monster slops <br />
against your door don’t open up—n<br />
just call the fire department<br />
<br />
to flush it away with a hose.<br />
Don’t worry about those men.<br />
They’ll scrub their hands so carefully<br />
<br />
that the nicotine won’t linger<br />
to spike them with addiction, <br />
the tars won’t thicken their blood,<br />
<br />
and the texture of the spongy mass<br />
won’t remind them anymore<br />
of the breasts of women they love.<br />
</p>
{% endblock %}

{% block bio %}
{{ super() }}
<p>William Doreski has published three critical studies and several collections of poetry. His poetry, essays, reviews, and fiction have appeared in many print and online journals. He has taught writing and literature at Emerson, Goddard, Boston University, and Keene State College. His most recent books are A Black River, A Dark Fall, a poetry collection, and Train to Providence, a collaboration with photographer Rodger Kingston. His website is <a href="http://williamdoreski.blogspot.com/" target="_blank">williamdoreski.blogspot.com</a>.</p>
{% endblock %}