{% extends "issues/two/poem_base.html" %}

{% block image %} {{ img }} {% endblock %}
{% block theme %} {{ css }} {% endblock %}
{% block title %}Zachery Elbourne{% endblock %}
{% block name %}Zachery Elbourne{% endblock %}

{% block poems %}
<div style="width:330px;">
<p class="text-justify">
<br /><br />
Scent of floodwater in the second floor. A creaking of rafters over floorbeams. Missing rafters from the second floor, from the roof that is missing rafters. The damp wood of the floor soft under feet used to more liquid ground. Morning sunlight in shades of plastic blue through the rooftops. Melted nostalgia in the wood up the stairs. Window made into mirror because mirror broke when the rafters became blue. The dressings of wood of the floor and wood of the rafter and wood of the window and wood of the feet in the morning time.
</p> 
</div>
{% endblock %}

{% block bio %}
{{ super() }}
<p>Zachery Elbourne is a child of New Orleans currently living in Brooklyn. They are a graduate of the UMass Amherst MFA for Poets and Writers, and in the past they were a reader and social media editor for jubilat literary journal, Poetry Editor for Delta journal, Assistant Managing editor of Slope Editions, and a co-founder and co-host of the Dead Bird reading series. <br /><br />Their work can be found in Seventh Wave Magazine, Kestrel, and Gigantic Sequins.</a></p>
{% endblock %}