{% extends "issues/three/poem-base.html" %}

{% block title %}Marianne Brems{% endblock %}
{% block name %}Marianne Brems{% endblock %}

{% block image %}
{{ img_num }}.png
{% endblock %}

{% block poems %}
<h2>Spectator</h2>
<p>Who is this alien asleep inside<br />
that leaps awake when muscles flex<br />
so a leather ball sails or almost sails<br />
into a goal?</p>
<p>For a single infinite moment<br />
it eclipses the sun,<br />
our essence flying skyward <br />
like a speeding asteroid<br />
in the apex of motion <br />
then landing once more, <br />
spent, inside our core.</p>
<p>No matter that all the while <br />
grass still grows,<br />
arms push through sleeves, <br />
daylight comes and goes.</p>
<br />
<h2>Somewhere a Bluebird Trills</h2>
<p>I sit in a waiting room heavy with use,<br />
my chair with a crack in its vinyl seat.<br />
Faint smells of rubber and exhaust.<br />
Cosmopolitan two months old, <br />
Newsweek from three weeks ago<br />
that no one touches.</p>
<p>TV grabbing at me <br />
in the corner of the ceiling, <br />
controls out of reach, <br />
no remote.<br />
Volume loud enough to steal silence, <br />
annihilate peace, <br />
but too muted to project news or weather <br />
or headache remedy.</p>
<p>Caught mid-flight in a web of  <br />
empty words<br />
in a room without hush <br />
where no one speaks<br />
or watches or listens to <br />
this anesthetizing machine,<br />
phones or laptops preferable,<br />
while somewhere a bluebird trills.</p>
<br />
<h2>Something Found</h2>
<p>When something lost turns up,<br />
a circle completes<br />
like rebirth  <br />
that spreads soft colors <br />
into the moment.</p>
<p>Equilibrium surfaces<br />
like health after illness. <br />
Muscles regain plasticity. <br />
Steps lighten.</p>
<p>Assets restored.<br />
A balance retaken<br />
on a road less congested.</p>
{% endblock %}

{% block bio %}
{{ super() }}
<p>Marianne Brems is a long time writer of trade books and textbooks, but also loves to write poetry. She has an MA in Creative Writing from San Francisco State University. Her chapbook “Sliver of Change” will be released by <i>Finishing Line Press</i> in 2020. Her poems have also appeared in many literary journals including <i>The Pangolin Review, Armarolla, Foliate Oak, La Scrittrice, The Sunlight Press, and The Tiny Seed Literary Journal</i>. She lives in Northern California.</p>
{% endblock %}