{% extends "issues/three/poem-base.html" %}

{% block title %}Bibekananda Choudhury{% endblock %}
{% block name %}Bibekananda Choudhury{% endblock %}

{% block image %}
{{ img_num }}.png
{% endblock %}

{% block poems %}
<h2>Representative</h2>
<p>Original : Assamese : Guna Moran<br />
Translation : Bibekananda Choudhury</p>
<p>I<br />
am not I</p>
<p>am just a representative of time</p>
<p>Whatever I have done<br />
Is not my credit<br />
Just the return of discipline</p>
<p>Whatever I have not done<br />
Have not been kept aside thinking not to do<br />
Suffered the result of not sparing time in time</p>
<p>Two arms two legs<br />
Are partners of time pass<br />
Can I become a time-teller to pick up</p>
<p>I cannot claim myself to be I<br />
I am just a representative of time</p>
</p>
<br />
<h2>The Lovesick Flowers</h2>
<p>Original : Assamese : Guna Moran<br />
Translation : Bibekananda Choudhury</p>
<p>I love flowers as destined<br />
But cannot love flowers in the measure of flowers</p>
<p>I love<br />
You<br />
Would keep on loving so<br />
Cannot but express love every moment<br />
Flower is my heart<br />
Do understand my importance</p>
<p>A word from the heart <br />
And a little nurture<br />
Flowers don’t need anything more<br />
That too I can’t always manage</p>
<p>Love becomes full of words overflowing the heart<br />
I caress holding the stem of the flower<br />
Flowers glitter with laughter <br />
From the joy of soul</p>
<p>In the incessant battle with the thorn<br />
The love of heart remains in heart<br />
It does not mean that o flower<br />
I am ignoring you out of laziness or anger</p>
<p>Flower is my heart<br />
Do understand my importance</p>
{% endblock %}

{% block bio %}
{{ super() }}
<p>Guna Moran is an Assamese poet and critic. His poems and literary pieces are published in national and international magazines, journals, webzines, newspapers and anthologies such as -    
(i) Tuck magazine 	(ii) Merak 		(iii) Spillword 
(iv) Setu 		(v)Story Mirror 	(vi) Glomag   (vii) Poem Hunter  
(viii) The Sentinel    (ix) The Hills Times  (x) Litinfinte  (xi) Best Poetry 		   (xii)Academy of the Heart and Mind 	(xiii) The Creation times (xiv)Infinite sky	 (xv) International Anthology of Poems on Autism (xvi) International Anthology on Water (Waco Fest Anthology 2019) (xvii) International anthology on TIME (xviii) THE VASE : 12th  Guntur International Poetry Fest Anthology 2019. (xix) POETICA : The Inner Circle Writer’s Group Poetry Anthology 2019 (xx) Nocturne (poetry of the Night, An Anthology). (xxi) Phantasmagoria Magazine.
Apart from this, his poems have been translated into Italian and French, Bangla language also.
</p>Bibekananda Choudhury, an electrical engineer by profession working with the State Government of Assam has completed his Masters from BITS-Pilani. He has also earned a diploma in French language from Gauhati University. He has got published works (both original and translated) in Assamese, Bengali & English in popular periodicals and newspapers. His translated poems have been published in 'Indian Literature', the bi-monthly journal of sahitya akademy. 'Suryakatha', the Bengali adaptation done by him of the is being taught in the undergraduate Courses of Banglore University and Post graduate Courses of Gauhati University. A collection of 101 folk tales from the foothillsof Patkai translated by him has also been taken up by publication by Gauhati University. He is presently the editor-in-chief of Dimorian Review a multidisciplinary web journal.<p>
{% endblock %}