{% extends "three/poem-base.html" %}

{% block title %}R. Gerry Fabian{% endblock %}
{% block name %}R. Gerry Fabian{% endblock %}

{% block image %}
{{ img_num }}.png
{% endblock %}

{% block poems %}
<h2>New Suit Metaphor</h2>
<p>I have worn it twice this week. (Relatives both -<br />
who outlived their friends. “Inevitable” seemed<br />
to be the religious mantra.)<br />
The scent of flower arrangements and freshly dug dirt<br />
invading it.</p>
<p>I splurged on the suit.<br />
Good material, custom tailor, conservative style<br />
three piece and two pairs of pants.</p>
<p>This suit knows its final resting place.</p>
<p>What the suit needs now is a wedding. <br />
It needs to dance<br />
and soak in the perspiration<br />
of hugs and song<br />
until it exudes the scent of joy.</p>
<br />
<h2>Caretaker’s Lament</h2>
<p>Gathering up the tears, he places them<br />
in the last<br />
of a dozen buckets<br />
he has arranged<br />
for the task.<br />
These tears are gray, cloudy<br />
and weigh a great deal.</p>
<p>They are almost useless except to wash away<br />
the dust on the sidewalks. though he has<br />
never spoken of this to anyone.</p>
<p>He prefers<br />
cleaning up after weddings.</p>
{% endblock %}

{% block bio %}
{{ super() }}
<p> R. Gerry Fabian is a retired English instructor.  He has
been publishing poetry since 1972 in various poetry magazines. 
His web page is <a href="https://rgerryfabian.wordpress.com">https://rgerryfabian.wordpress.com</a>
He has published two books of his published poems, Parallels and Coming Out Of The Atlantic.
His novels, Memphis Masquerade, Getting Lucky (The Story) and Seventh Sense
are available at all ebook publishers including Amazon, Apple Books and Barnes and Noble.
He is currently working on His fourth novel, Ghost Girl. is scheduled for publication in 2020.</p>
{% endblock %}