{% extends "three/poem-base.html" %}

{% block title %}Dan Gallagher{% endblock %}
{% block name %}Dan Gallagher{% endblock %}

{% block image %}
{{ img_num }}.png
{% endblock %}

{% block poems %}
<h2>The Arc of a Ball Falling</h2>
<p>The arc of a ball falling must<br />
have convinced Mesoamericans that changing<br />
the cycle of life was strictly for children.<br />
The Mayans used their balls for first basketball,<br />
then ritual, but never for wheels in real motion.<br />
Like every sportsman, they wanted the ball<br />
just long enough<br />
to return it to its rightful position.<br />
Back and forth, the game had a rhythm,<br />
a cycle, like a pendulum<br />
and sometimes the Mayan<br />
sacrificed even the winners<br />
for disrupting or changing the season.<br />
No player wants to witness<br />
the wheel of life turning incessantly,<br />
like the sun returning and burning<br />
some worshipers out of existence,<br />
any more than you catch a pendulum<br />
or a maypole when it’s swinging<br />
testing time, gravity, everything,<br />
even fixing it,<br />
if one makes allowances for changes in altitude,<br />
wind resistance, and the guide length you give it.<br />
Which is why, possibly, only children were given permission <br />
to keep toy menageries, jaguars on wheels,<br />
thereby slowing them down to measurable existence.</p>
<p>Life only at the center, the axle, <br />
the ball spinning in tight cycles, <br />
the past lapping the future, <br />
forward motion, just an illusion, <br />
unable to conceive of friction, <br />
intolerant of change,<br />
they may not even have been ready for rain <br />
which rolled less and less their way at the end.</p>
<br />
<h2>False Light</h2>
<p>My mother, my grandmother, almost opposites<br />
Both lived their lives as false positives,<br />
passing long, drunken tests from their exes<br />
Their strange calm some imbalance between patience and frustrated <br />
Being accustomed and unwilling to enforce limits<br />
Their ex-husbands invented<br />
They were the flat ends of scissors rending fabric transparent<br />
Sharp as mosaic, pieces flat but interconnected,<br />
Which can only be seen as something real from a distance<br />
A broadcast you received like a satellite<br />
Emergency broadcasts mixed with the weather<br />
And sent back to strangers without meaning danger<br />
They had so many lighted windows, you couldn’t see the framework<br />
And curtains so light that they acted more like spirits<br />
Which hide history, inviting you to look right through the interior<br />
To their shadows, their opposites,<br />
Their children, their exes, turned dark by omnipresent search lights<br />
Until even the warm glow of night lights begins to seem ominous<br />
Like street lights lining roads as loved ones start leaving<br />
They were safes so secure you couldn’t see their emptiness<br />
Full of vulnerabilities, though no one looked for them.<br />
And almost without realizing it,<br />
They cored the tree they’d learned from originally, growing<br />
As if they didn’t want to see that same apple grow poisonous again.<br />
Their children, their grandchildren</p>
{% endblock %}

{% block bio %}
{{ super() }}
<p>Former professor with 20+ years experience in publishing, tv, and new media.</p>
{% endblock %}