{% extends "base-bs4.html" %}
{% block title %}Issue Three{% endblock %}
{% block content %}
{{ super() }}
<div class="row">
    <div class="col-lg-7 offset-lg-4">
        <img src="img/three/10.png" class="img-fluid">

    </div>
</div>
<div class="row">
    <div class="col-6">
        <h1 class="text-right text-nowrap">Trestle Ties</h1>
        <h3 class="text-right text-nowrap">Issue Three</h3>
    </div>
    <div class="col-xl-5 offset-xl-0 col-lg-5 offset-lg-0 col-md-5 offset-md-0 col-sm-5 offset-sm-0">
        <br />
        <h4>Contributors:</h4>
        <ul style="list-style-type:none;">
            <li><a href="#">Marianne Brems</a></li>
            <li><a href="#">Bibekananda Choudury</a></li>
            <li><a href="#">R. Gerry Fabian</a></li>
            <li><a href="#">Dan Gallagher</a></li>
            <li><a href="#">J.L. Lapinel</a></li>
            <li><a href="#">Edward Lee</a></li>
            <li><a href="#">Laura S. Marshall</a></li>
            <li><a href="#">Iftekhar Sayeed</a></li>
            <li><a href="#">Steve Sibra</a></li>
            <li><a href="#">Thomas Zimmerman</a></li><br />
            <li><a href="#">Art By Simone Thompkins</a></li>
        </ul>
    </div>
</div>
<div class="row justify-content-center align-bottom">
</div>
{% endblock %}