{% extends "issues/three/poem-base.html" %}

{% block title %}J.L. Lapinel{% endblock %}
{% block name %}J.L. Lapinel{% endblock %}

{% block image %}
{{ img_num }}.png
{% endblock %}

{% block poems %}
<h2>I Sat on a Hill Looking for You</h2>
<p>I sat in a field<br />
up on the hill <br />
behind the brook <br />
and you heard me</p>
<p>My streaked face swelled with salt <br />
and my lips<br />
blubbered your name<br />
but I couldn't smell the mint<br />
from the licking water <br />
seducing river rocks<br />
with its fluid form<br />
Not even the warm push of air <br />
meant to toss<br />
the damp hair<br />
from my eyes<br />
could lift that sweet mojito scent <br />
past my swollen inhale</p>
<p>You tried<br />
I heard nothing<br />
in response to my imploring<br />
I smelled nothing<br />
that you sent to me<br />
I saw nothing<br />
though the water never stopped</p>
<p>Many years later<br />
when the cycles shifted the bank <br />
and the rocks grew dark<br />
I was no longer there<br />
but I heard you<br />
The three of them<br />
were sitting on my lap<br />
and we were one<br />
It took many years<br />
but I heard you answer</p>
<br />
<h2>The Drinking Soil</h2>
<p>The soil<br />
its dry pores<br />
wet by drizzles <br />
secretes<br />
what little juices<br />
it has beneath the roots <br />
Above<br />
the wind shakes beads <br />
from the branches <br />
often silent - unnoticed</p>
<p>One drop of rain<br />
falls against the green<br />
then drags itself<br />
-leaving an oozing trail behind- <br />
only to reach<br />
the tip<br />
of one green leaf<br />
then leap<br />
-wind pressing against its face- <br />
stretching back<br />
its features<br />
in a monstrous grin<br />
to reach<br />
the hungry soil</p>
{% endblock %}

{% block bio %}
{{ super() }}
<p>JL is a writer from Manhattan who is now living in New England. Her work appears in Yellow Arrow Journal, The Wellington Street Review, Cambridge Collection and North American Poetry Review. JL was nominated for a Pushcart Prize in 2019. She holds a BA and MA in Literature from NYU and is presently an MFA candidate at UMass Amherst.</a></p>
{% endblock %}