{% extends "three/poem-base.html" %}

{% block title %}Edward Lee{% endblock %}
{% block name %}Edward Lee{% endblock %}

{% block image %}
{{ img_num }}.png
{% endblock %}

{% block poems %}
<h2>Digging</h2>
<p>His nails were bitten <br />
to the quick,<br />
yet he still managed <br />
to get dirt under them, <br />
clawing at the ground <br />
eating the soil<br />
that stuck to his palms,<br />
all the while muttering<br />
that he was digging for hope, <br />
the sky above him<br />
empty of it for too long;</p>
<p>the sky above us all, <br />
the smell of earth <br />
wet on our breath.</p>
<br />
<h2>Engulfed</h2>
<p>There is a violence in the soil. <br />
You can feel it<br />
if you walk bare-foot,<br />
day or night,<br />
rain or shine,<br />
the ground wet or dry.</p>
<p>There is death too,<br />
of course, the stillborn child <br />
of the violence<br />
in the earth;<br />
there is always death,<br />
at the end,<br />
at the beginning,<br />
bringing its own ending.</p>
<p>The violence in the soil is ours. <br />
We have poured it in blood <br />
deep into the ground,<br />
with our wars,<br />
our rages against each other, <br />
against ourselves.</p>
<p>What shall we do when that violence rises, <br />
as it must, as it will,<br />
still covered in red dirt,<br />
and wipes us into the sea<br />
leaves us to drown?<br />
Will our thirst be sated then? <br />
Or will we simply die<br />
our teeth bared<br />
against the unfairness<br />
of a world<br />
made to our savage design?</p>
{% endblock %}

{% block bio %}
{{ super() }}
<p>Edward Lee's poetry, short stories, non-fiction and photography have been published in magazines in Ireland, England and America, including The Stinging Fly, Skylight 47, Acumen and Smiths Knoll.  His debut poetry collection "Playing Poohsticks On Ha'Penny Bridge" was published in 2010. He is currently working towards a second collection.
He also makes musical noise under the names Ayahuasca Collective, Lewis Milne, Orson Carroll, Blinded Architect, Lego Figures Fighting, and Pale Blond Boy.
His blog/website can be found at <a href="https://edwardmlee.wordpress.com">https://edwardmlee.wordpress.com</a>
</a>.</p>
{% endblock %}