{% extends "three/poem-base.html" %}

{% block title %}Iftekhar Sayeed{% endblock %}
{% block name %}Iftekhar Sayeed{% endblock %}

{% block image %}
{{ img_num }}.png
{% endblock %}

{% block poems %}
<h2>white lies</h2>
<img src="img/three/sayeed.png" class="img-fluid" width="400">
<p>“We are blessed to be living in a democracy like Bangladesh...,”<br />US Ambassador Harry K. Thomas said in an interview....<br /><i>The Bangladesh Observer, June 25, 2005</i></p>
<br />
<p>from a black<br />
ambassador<br />
we expected<br />
truth</p>
<p>he now<br />
does the<br />
white man’s<br />	
bidding<br />
forgetting<br />
our ancestry<br />
of bondage</p>
<p>for his<br />
grandfather<br />
individual<br />
captivity<br />
for mine<br />
collective</p>
<p>for black<br />
and brown<br />
people<br />
lies are<br />
murderous</p>
<p>the white man<br />
has<br />
the truth of power<br />
but we have<br />
the power of truth</p>
<p>go home<br />
black friend<br />
to your<br />
white masters<br />
and tell them<br />
they lie</p>
<p>tell our black<br />
brothers<br />
the truth</p>
<p>they will nod<br />
and shake<br />
their curly<br />
heads for<br />
they know<br />
the white man’s<br />
weapon and<br />
weakness</p>
<p>he lies</p>
{% endblock %}

{% block bio %}
{{ super() }}
<p>Iftekhar Sayeed teaches English. He was born and lives in Dhaka, Bangladesh. He has contributed to The Danforth Review, Axis of Logic, Enter Text, Postcolonial Text, Southern Cross Review, Opednews.com, Left Curve, Mobius, Erbacce, Down In The Dirt and other publications. He is also a freelance journalist. He and his wife love to travel. </p>
{% endblock %}