{% extends "three/poem-base.html" %}

{% block title %}Steve Sibra{% endblock %}
{% block name %}Steve Sibra{% endblock %}

{% block image %}
{{ img_num }}.png
{% endblock %}

{% block poems %}
<h2>The Letterman</h2>
<p>There’s a dead guy hanging<br />
in downtown bars, he’s haunting<br />
my letterman’s coat, wearing<br />
cream and red colors<br />
girls think he is the top <br />
in pops, he signs my autograph<br />
slops drinks down their shirts<br />
they laugh, nudge his dead shoulder<br />
they think he is me, just wiser<br />
just older, just tanner, blonder,<br />
bolder -- makes me wonder<br />
which part of my impending corpse<br />
has he crawled out from under?<br />
What words he speaks<br />
come from my tongue, air<br />
so long dead inside my lungs?<br />
How long have I held it --<br />
how deep in the puddle must I sink,<br />
before my conscience decides<br />
to swim?  There is a dead guy<br />
haunting downtown bars, my red<br />
and cream letterman’s coat<br />
covers all his scars, everybody<br />
loves him, if I touch him <br />
with broken, tattered fingers<br />
am I a dead man as well?<br />
Am I just an afterthought,<br />
a feeling which lingers?<br />
If the dead guy downtown<br />
is really me, am I looking down<br />
from Heaven or up from Hell?<br />
He is doing a good job,<br />
I am not sure it matters.</p>
<br />
<h2>Dragging For Bones</h2>
<p>My Grampa he got shot<br />
it was a hundred years ago<br />
in the field right<br />
where the sun goes<br />
flat against the horizon -<br />
plowed him under<br />
poured water on his grave<br />
then just let it be.</p>
<p>I been working this land<br />
Thirty hard years<br />
couple times I thought I found<br />
the spot, but it was just<br />
rocks.  I am not done<br />
yet, I am gonna find him -<br />
piece it all back together.<br />
I want to see my Grampa<br />
watch the sun set proper.<br />
I want him to rest<br />
I want him to see the change<br />
in the sky as the clouds move in,<br />
bring rain unto the righteous.</p>
<p>I want to feel him breathe.</p>
<br />
<h2>Elevated</h2>
<p>Think back to raw winter,<br />
gigantic snowy owl;<br />
how boldly she presented, sculpture of naked light<br />
against brown and gunmetal <br />
backdrop of barren shelterbelt –<br />
inside the wind’s brassy howl – </p>
<p>when she spread barn-tightened sinew<br />
to fly, we knew<br />
if she chose, she could close the sky:<br />
the light, the night, the gasp of air<br />
we breathe –<br />
she could take it all to wing, and leave <br />
trees behind, leafless;<br />
people, lifeless</p>                          
<p>earth, blind as painted mirrors.</p>
{% endblock %}

{% block bio %}
{{ super() }}
<p>Steve Sibra grew up near a very small farming town in eastern Montana.  He now lives in Seattle where, for the past thirty years, he has made his living by buying and selling vintage comic books.  Steve's work has appeared in numerous literary journals including <i>Matador Review, Jellyfish Review, and Gravel</i>.  He is a member of Seattle Fiction Federation and has featured at Capitol Hill Poetry Brunch and elsewhere.</a>.</p>
{% endblock %}