{% extends "issues/three/poem-base.html" %}

{% block title %}Simone Thompkins{% endblock %}
{% block name %}Simone Thompkins{% endblock %}

{% block image %}
{{ img_num }}.png
{% endblock %}

{% block poems %}
<p>What I love about flowers is that they're beautiful right now. <br />
That's it. My mind does not let me enjoy many things in a simple way. <br />
I have like, no chill. I basically live in between the lines of everything, <br />
looking for the why behind the what.</p>
<p>When I started painting flowers in June of 2019, it was a 30-day <br />
exercise in discipline. (It didn't work, by the way. I completed the <br />
challenge; I am still undisciplined). I've since come to see it as an <br />
exercise in being present and letting go. Paint runs, colors mix <br />
unexpectedly, drawing flower petals is complicated, inking <br />
is...just...so hard. But I'm here and I'm doing it. I'm pushing <br />
forward through inexperience and imperfection. I'm learning to be okay <br />
with things where they are right now, being who I am right now.</p>
<p>I hope you buy flowers and put them in your window sill. I hope you <br />
have five, uninterrupted minutes to let the sun shine on your face. <br />
I hope the works in this book stir a chord inside you, or move you into <br />
an act of "hmmm," or help you find stillness and peace whoever you are right now.</p>
{% endblock %}

{% block bio %}
{{ super() }}
<p></p>
{% endblock %}