{% extends "three/poem-base.html" %}

{% block title %}Laura S. Marshall{% endblock %}
{% block name %}Laura S. Marshall{% endblock %}

{% block image %}
{{ img_num }}.png
{% endblock %}

{% block poems %}
<h2>In Between</h2>
<p>For affirmations to work, they have to be in present tense. Thirty ladybugs waiting on the step<br/>
when I get home, their wings red and half-raised, tails flaring. I love this, I tell them.</p>
<p>Half-sleep is a board game behind the eyelids, but when interrupted the rules decohere.<br />
Tap your pulse points in their mixed-up Morse code. Untangle the blue lines in your wrists.</p>
<p>The stairway is full of overeducated ghosts. They jostle each other, all eyes and elbows. Some<br />
days dance more stiffly than others; some only sway, but not for very long.</p>
<p>The wheelchair is unruly lately, surly. It lurks in corners, larger every time<br />
I look at it. I abandon my cart in the decongestant aisle. Pseudoephedrine can't save us all.</p>
<p>It’s just the putting of one foot next to the other. The guided meditation tells<br />
us to breathe. We breathe. We close our eyes. We count the ways we’re safe.</p>
<br />
<h2>Shut Up and Drive</h2>
<p>for years i couldn't say ​<i>conduit</i>​ in english&emsp;could only say<br />
the french ​<i>conduit​</i>&emsp;you can hydroplane at 35 miles per hour <br />
you can drown in a quarter-inch of water&emsp;you</p>

<p>can lose a hand if you're not careful&emsp;how many fireworks<br />
are enough&emsp;how many calories in our destruction<br />
how many grams of fat in a family&emsp;what time does the gas station open</p>

<p>my pharmacy texts more often than my parents&emsp;will we see you<br />
for thanksgiving&emsp;giving thanks for knowing the difference<br />
between ​<i>who</i>​ & <i>​whom</i>​ and <i>lead</i>​ & <i>​led</i>​&emsp;which one of us</p>

<p>is the noun and which the participle&emsp;dad’s going to buy a BB gun<br />
for the squirrels in the attic&emsp;i rub slow patterns<br />
on the page for the sound of the friction&emsp;triangular patterns</p>

<p>are the best patterns&emsp;3 is the best number&emsp;no&emsp;5</p>
{% endblock %}

{% block bio %}
{{ super() }}
<p>This is the block where a person's bio would go. This is just a test.</p>
{% endblock %}