{% extends "three/poem-base.html" %}

{% block title %}Testing Title{% endblock %}
{% block name %}Thisisiavery Verylongnameokayokay{% endblock %}

{% block image %}
{{ img_num }}.png
{% endblock %}

{% block poems %}
<h2>Poem One Title</h2>
<p>Next level snackwave helvetica polaroid authentic, <br />
90's hell of tote bag artisan health goth glossier gochujang blog pour-over. <br />
Wayfarers chia ugh leggings next level wolf sustainable hexagon normcore <br />
irony lyft. Hoodie helvetica wayfarers chillwave waistcoat poke lomo hexagon <br />
cliche 90's. Pork belly affogato cardigan truffaut. Bespoke palo santo XOXO irony kickstarter, <br />
ustainable cold-pressed crucifix tacos YOLO skateboard chambray blog. <br />
Dreamcatcher four dollar toast helvetica migas salvia. Mumblecore cred <br />
migas occupy truffaut iPhone.</p>
<p>Blue bottle air plant street art, <br />
gluten-free migas microdosing PBR&B etsy distillery <br />
heirloom drinking vinegar sriracha farm-to-table synth <br />
banjo. Dreamcatcher next level typewriter quinoa. <br />
Pok pok food truck leggings, drinking vinegar jianbing pitchfork <br />
woke blog bitters migas hot chicken yr butcher street art. <br />
Pok pok banh mi retro sartorial dreamcatcher tbh <br />
quinoa godard. Brooklyn master cleanse drinking vinegar microdosing.</p>
<p>Air plant biodiesel butcher kinfolk art party normcore. Pork belly <br />
ingle-origin coffee small batch literally mumblecore paleo j<br />
ean shorts. Lyft humblebrag mixtape hella prism sriracha <br />
next level pop-up. Waistcoat palo santo letterpress coloring <br />
book cold-pressed readymade asymmetrical jean shorts gochujang plaid fanny pack gastropub. <br />
Sriracha street art live-edge readymade stumptown franzen hell of tilde. Selvage chia <br />
ethical master cleanse tilde chicharrones chillwave salvia, vaporware <br />
before they sold out <br />
williamsburg woke <br />
biodiesel.</p>
<br />
<h2>Peony Two Title</h2>
<p>Drinking vinegar venmo 3 wolf moon ennui. 
Normcore whatever kogi, tattooed jianbing retro <br />
sartorial hexagon banjo. Activated charcoal <br />
keffiyeh brunch vape kickstarter marfa <br />
godard pinterest next level pug <br />
squid. Activated charcoal subway <br />
tile stumptown yuccie. Single-origin coffee actually wayfarers disrupt cloud bread drinking vinegar tousled keytar. <br />
Swag kitsch flannel deep v hammock keytar activated charcoal air plant banh mi pok pok. <br />
Vice wolf beard church-key intelligentsia, freegan drinking vinegar mlkshk waistcoat.</p>
<p>Freegan asymmetrical venmo vegan poutine. Waistcoat chillwave <br />
fashion axe pok pok cold-pressed subway tile ugh af <br />
irony pop-up pinterest. Marfa austin locavore williamsburg. <br />
Banjo synth etsy hella. Synth jean shorts <br />
hillwave literally, XOXO messenger bag <br />
dreamcatcher.</p>
{% endblock %}

{% block bio %}
{{ super() }}
<p>We did not find a bio for you. <br />If you would like a bio on your page, please email one to <a href="mailto:trestleties@gmail.com">trestleties@gmail.com</a>.</p>
{% endblock %}