{% extends "three/poem-base.html" %}

{% block title %}Thomas Zimmerman{% endblock %}
{% block name %}Thomas Zimmerman{% endblock %}

{% block image %}
{{ img_num }}.png
{% endblock %}

{% block poems %}
<h2>Nature Preserve</h2>
<p>Black river cuts like glass through deep-woods pine.<br />
You see this even from the Ford’s back seat.<br />
And later, sun-stunned aspens gird the interpretive<br />
center. Inside, photos, maps, and taxidermy:<br />
heron, river otter, black-bear cub. <br />
The pelts of foxes, elk. A video <br />
your friend has made plays on a loop: it’s Bach<br />
as background, shots of meadows, reedy ponds,<br />
a sketch by Audubon, and interviews <br />
with scientists now dead. Back home, your injured<br />
dog, Elizabethan-collared, snoozes <br />
in his crate. Your knee’s still killing you,<br />
your shoulder crackling. Hell it is, getting<br />
old. Remember you’re no better than grass.</p>
<br />
<h2>Time Ghost</h2>
<p>It’s Shostakovich on the playlist now.<br />
Emotes like Mahler, but he’s closer to <br />
our zeitgeist: post-post irony in drag,<br />
bright light that mates with shadow. It’s all right.<br />
I’m drinking beer, so mellow and dramatic,<br />
glasses sliding down my nose, scuffed dick <br />
and balls snugged tight within my briefs. My days<br />
stacked up like cards: don’t know the game. Or flapjacks <br />
I can never finish on a syrupy <br />
plate. I’m happier alone. For now.<br />
Walk down the hall with me, my better self,<br />
and save your tears for beauty. Love, suck in<br />
your gut: someone good-looking’s looking. There.<br />
Safe travels. See you on the other side.</p>
<br />
<h2>Lullabies and Battle Cries</h2>
<p>Small talk, the kind you say you hate, just think<br />
of it as lullabies we sing to one <br />
another, padding pain and easing us,<br />
like Mother or a surrogate once did</p>
<p>or does, or otherwise we’d all be dead.<br />
The skin along your cheek and neck and chest,<br />
drum-taut for brush-like fingers, pulses from<br />
within, a jazz band’s riff, a battle cry</p>
<p>for tactics, acts, engagements, and improvisations <br />
in love’s name. Your liquid eyes burn dark<br />
then light, fresh campsites on the night’s hillside,<br />
and circling round, the tribe, the fall and rise</p>
<p>of songs, the rhythm in the blood, the humming<br />
rib bones of the whale that eats us all,<br />
that feeds and cradles our next change, that spits <br />
us out like seeds so bright the fires dim.</p>
{% endblock %}

{% block bio %}
{{ super() }}
<p>Thomas Zimmerman teaches English, directs the Writing Center, and edits The Big Windows Review <a href="https://thebigwindowsreview.com/">https://thebigwindowsreview.com/</a> at Washtenaw Community College, in Ann Arbor, Michigan. His poems have appeared recently in Bleached Butterfly, Tigershark, and the anthology Nocturne: Poetry of the Night. Tom's website: <a href="https://thomaszimmerman.wordpress.com/">https://thomaszimmerman.wordpress.com/</a>.</p>
{% endblock %}