{% extends "base.html" %}
{% import "mission.html" as mission %}
{% block title %}Hello{% endblock %}
{% block content %}
{{ super() }}
<div class="container tim-container" style="max-width:800px; padding-top:100px">
   <h2 class="text-center"><a href="{{ url_for('submissions') }}">Issue Six Submissions Are Open!</a></h2> <br />
   <h2 class="text-center"><a href="{{ url_for('issue_five') }}">Issue Five is here!</a></h2>
   <br />
   <h1 class="text-center">A Landscape of Emergence</h1>
   {{ mission }}
</div>
<div class="space"></div>
{% endblock %}