{% extends "base.html" %}
{% block title %}Hello{% endblock %}
{% block content %}
{{ super() }}
<div class="container tim-container" style="max-width:800px; padding-top:100px">
   <h1 class="text-center">A Landscape of Emergence</h1>
   <p>Trestle Ties mission is to create a bridge for emerging writers. We want to create a safe place for words to live, create and foster new ideas. We chose Trestle Ties because trestle ties are what keep bridges together and our mission is to create community and trestle ties keep bridges sturdy.</p>
</div>
<div class="space"></div>
{% endblock %}