{% extends "base.html" %} {% block title %}Submissions{% endblock %} {% block
content %} {{ super() }}
<div
  class="container tim-container"
  style="max-width: 800px; padding-top: 100px"
>
  <h1 class="text-center">Submissions</h1>
  <!-- <h3 class="text-center"><strong>Submission deadline for Issue 6 is August 1, 2023</strong></h3> -->
  <h4>What kind of work is Trestle Ties looking for?</h4>

  <p>
    We accept photographic journalism, visual art, poetry, essays, reviews,
    satire, fiction, non-fiction, and interviews!<br />We review all work
    received.<br />
    We regret that we cannot give individual criticism to all submissions.
  </p>
  <h4>Does Trestle Ties accept previously published work?</h4>
  <p>
    No. We cannot consider anything that has been previously published or
    accepted for publication, anywhere, in any form.
  </p>
  <h4>When is the next submission period?</h4>
  <p>The Issue Seven submission period will be announced soon!</p>

  <h2>Submission Guidelines -</h2>
  <h4>General Submission Guidelines</h4>
  <p>
    Text-based work must be in a single PDF or Word-formatted document.<br />Please
    include writer's name and email address on all pages of the submitted file
    in the header.<br /><br />Image-based work should be submitted in a common
    format that is best for the work (jpeg, tiff, png, etc). If accepted, we
    will work with you on final image versions for the web.<br />Include the
    artist's name in the filename for all images.<br /><br /><strong
      >Submssions in violation of these guidelines will not be
      considered.</strong
    >
  </p>

  <h4>Poetry</h4>
  <p>
    We consider original poems written in the English language as well as
    translations of poetry into English.<br />Please submit no more than 3
    poems, not exceeding five pages in total.<br />Poems must be separated by
    titles or page breaks. Use only spaces in your submitted works,
    <b>never tabs</b>. This allows us to accurately reproduce your work on the
    web.
  </p>

  <h4>Nonfiction, Fiction, and Essay</h4>
  <p>
    Trestle Ties welcomes and publishes distinctive topical essays and personal
    creative nonfiction of any kind; this includes pieces that might fit into
    the memoir, travel, and historical nonfiction categories. We are not an
    academic journal and publish for a general readership. Above all, we are
    interested in publishing work that surprises and intrigues us and in turn we
    hope that it will captivate our readers imagination.<br />Submit one essay
    of up to 3,000 words, or submit up to three shorter essays (500-1,000 words
    each).<br />Fiction and non-fiction can be up to 1,500 words.<br />Please
    let us know how long your piece is in your cover letter.
  </p>
  <p></p>

  <h4>Interviews</h4>
  <p>
    Trestle Ties publishes interviews with writers of all kinds: literary,
    academic, journalistic, and popular. Please include a cover letter
    specifying your credentials for the interview. Interviews should be 1,000
    words or less.<br />Please let us know how long your interview piece is on
    your cover letter.
  </p>

  <h4>Reviews and Review Essays</h4>
  <p>
    Trestle Ties publishes reviews of current fiction, poetry, and nonfiction
    books, especially those from writers with an innovative approach to subject
    matter. Several related works may be reviewed at more length in a review
    essay that engages critical issues not appropriate to a single review. We
    are always in search of new reviewers.<br />Please include a cover letter
    specifying your credentials for the review or review essay.
  </p>

  <h4>Photojournalism</h4>
  <p>
    5-10 photos and the story that is being portrayed.<br />500-1,000 words.
  </p>

  <h4>Visual Art</h4>
  <p>3-5 pieces of art along with artist statement.</p>

  <h4>Hybrid Works</h4>
  <p>
    Trestle Ties welcomes hybrid works. Please specify the nature of the hybrid
    your cover letter.<br />Please let us know how long your Hybrid piece is on
    your cover letter.
  </p>

  <h4>Plays</h4>
  <p>
    Submission up to 500-1,000 words<br />Please let us know how long your play
    is on your cover letter.
  </p>

  <h4>How do I submit?</h4>
  <p>
    Submissions are now closed. Please check back for the next submission
    period.
  </p>
  <!-- 
    <p>Email your document or images to <a href="mailto:trestleties@gmail.com">trestleties@gmail.com</a>.<br />Please indicate the type of work you are submitting in the subject of the email.<br />We do not use submittable or other submission systems so you incur no costs to submit. While we realize that this makes the submission and review process less transparent, we seek to be as communicative as possible with all submissions.</p> -->

  <h4>Other details</h4>
  <p>
    We will try to let you know about acceptance as soon as possible. Please
    give us at least a month after the submission closing date before inquiring
    about your submission.
  </p>
  <br />
  <p>
    Thank you for trusting us with your work. We hope you enjoy Trestle Ties.
  </p>
</div>
<div class="space"></div>
{% endblock %}
