{% extends "base.html" %}
{% block title %}Hello{% endblock %}
{% block content %}
{{ super() }}
<div class="container tim-container" style="max-width:800px; padding-top:100px">
   <h1 class="text-center">Submissions</h1>
    <h3 class="text-center"><strong>Submissions open November 15!</strong></h3>
    <h2>Submission Guidelines</h2>
    <h4>What kind of work is Trestle Ties looking for?</h4>
    <p>We examine all work received. We consider original poems written in the English language as well as translations of poetry into English. We regret that we cannot give individual criticism.</p>
    <h4>Does Trestle Ties accept previously published work?</h4>
    <p>No. We cannot consider anything that has been previously published or accepted for publication, anywhere, in any form.</p>
   <h4>How many poems can I submit?</h4>
   <p>3 poems maxiumum, not exceeding five pages in total.</p>
   <h4>In what format should I submit?</h4>
 <p>All poems must be in a single pdf. or word document.<br /> Poems must be separated by titles or page breaks. <br />Please include all writer contact
info on all pages of the submitted file in the header with the writer's name, email address, and page number.</p>
    <h4>When is the next submission period?</h4>
    <p>Submissions will be open from November 15th through December 31st, 2018.</p>
    <h4>How do I submit?</h4>
    <p>Email your document to <a href="mailto:trestleties@gmail.com">trestleties@gmail.com</a>.<br /> We do not use submittable or other submission systems so that you incur no costs to submit.</p>
    <h4>Other details</h4>
    <p>We will try to let you know about acceptance as soon as possible. Please give us at least a month after the submission closing datebefore inquiring about your submission. <br /><br />Thank you for trusting us with your work. We hope you enjoy Trestle Ties.</p>
</div>
<div class="space"></div>
{% endblock %}