{% extends "base.html" %}
{% block title %}Submissions{% endblock %}
{% block content %}
{{ super() }}
<div class="container tim-container" style="max-width:800px; padding-top:100px">
   <h1 class="text-center">Submissions</h1>
    <!--<h3 class="text-center"><strong>Submissions are closed. We will post our next submission period soon.</strong></h3>-->
    <h2>Submission Guidelines</h2>
    <h4>What kind of work is Trestle Ties looking for?</h4>
    <p>Poetry! We read all work received. We consider original poems written in the English language as well as translations of poetry into English. We regret that we cannot give individual criticism to all submissions.</p>
    <h4>Does Trestle Ties accept previously published work?</h4>
    <p>No. We cannot consider anything that has been previously published or accepted for publication, anywhere, in any form.</p>
   <h4>How many poems can I submit?</h4>
   <p>3 poems maxiumum, not exceeding five pages in total.</p>
   <h4>In what format should I submit?</h4>
    <p>All poems must be in a single pdf or word document.<br /> Poems must be separated by titles or page breaks. <br />Please include writer's name and email address on all pages of the submitted file in the header. <br /> Use only spaces in your submitted works, <b>never tabs</b>. This allows us to accurately reproduce your work on the web.</p>
    <h4>When is the next submission period?</h4>
    <p>We will anncoune the next submission period soon.</p>
    <!--<h4>How do I submit?</h4>-->
    <!--<p>Email your document to <a href="mailto:trestleties@gmail.com">trestleties@gmail.com</a>.<br />We do not use submittable or other submission systems so you incur no costs to submit. While we realize that this makes the submission and review process less transparent, we seek to be as communicative as possible with all submissions.</p>-->
    <h4>Other details</h4>
    <p>We will try to let you know about acceptance as soon as possible. Please give us at least a month after the submission closing date before inquiring about your submission.</p><br /><p>Thank you for trusting us with your work. We hope you enjoy Trestle Ties.</p>
</div>
<div class="space"></div>
{% endblock %}