{% extends "issues/five/work-base.html" %}

{% block title %}You're so Fucking Valid{% endblock %}
{% block name %}Sy Brand{% endblock %}

{% block work %}
<h2>You're so Fucking Valid</h2>
<p>I don't want to be valid, I want<br />
    to be the asteroid<br />
    that ends the dinosaurs,<br />
    watching them stare at the sky<br />
    at the most beautiful thing<br />
    coming to destroy them, I want to be <br />
    languageless feeling, invisible <br />
    light, a sculpture of time,<br />
    don't call me valid, call me through your skin,<br />
    we can shed together, show me your air<br />
    and I'll breathe with you.
    </p>
{% endblock %}

{% block bio %}
{{ super() }}
<p>Sy is a queer non-binary poet living in Edinburgh, Scotland. They write through the haze of cat-/child-induced sleep deprivation to try and make sense of gender, relationships, and ADHD. Their debut chapbook, Cloud Picker, is being released in May 2023 by Thirty West Publishing. You can find them on Twitter <a href="https://twitter.com/tartanllama">@TartanLlama</a> and their publications at <a href=https://sybrand.ink/>sybrand.ink</a>.
</p>
{% endblock %}