{% extends "five/work-base.html" %}

{% block title %}The Wood's Song{% endblock %}
{% block name %}Onyedikachi Chinedu{% endblock %}

{% block work %}
<h2>The Wood's Song</h2>
<p>She's there<br />
    with her new-borns<br />
    swaddled in dirty blankets,<br />
    and no place<br />
    to bear their weight<br />
    save for the cold<br />
    curb and the gaze<br />
    of pity.<br />
    Human nature<br />
    is vain to the poor,<br />
    its ubiquitous<br />
    shame so away.<br />
    It feels like the stigma<br />
    has a connotation,<br />
    but they don’t try<br />
    to admit being poor;<br />
    a few animals<br />
    are more than others.<br />
    Her motherly curve<br />
    won’t ruffle the eyes<br />
    to seize full cognizance,<br />
    nor will their infant wails<br />
    soften passers-by<br />
    along the fraction<br />
    of the road. Where’s<br />
    the father?<br />
    Is this a theatrical feat<br />
    to acquire the godly hand?<br />
    Two years ago,<br />
    a story flares up<br />
    like a lighthouse.<br />
    We mistrust the beggars<br />
    at the gate of the catholic<br />
    church by the luxury store.<br />
    Is this why Ashbery<br />
    had likened the beggars'<br />
    tenors to the wood's<br />
    song? And so, should I<br />
    have entrusted<br />
    the fifty naira note<br />
    when I wandered<br />
    by that bustling morning?</p>
{% endblock %}

{% block bio %}
{{ super() }}
<p>Onyedikachi Chinedu is a Nigerian poet. They have been published in FU Review, Guesthouse Lit, The Cortland Review and elsewhere. The author of the pamphlet, Glistening Green (Ghost City Press, 2021).</p>
{% endblock %}