{% extends "issues/five/work-base-wide.html" %}

{% block title %}CJ Connolly{% endblock %}
{% block name %}CJ Connolly{% endblock %}

{% block work %}
<h2>Blackberry</h2>
<p>Culling the flowers, I gather up<br />
what is left&#8195; all my small griefs <br />
plucked from the furrow of my brow<br />
to smooth across my lap&#8195; like a tongue</p>
<br />
<p>laden with honey, moving hot and low <br />
against my mouth&#8195; a lover already lost</p>
<br />
<p>— I swear</p>
<br />
<p>no one can hurt me now.</p>
<br />
<p>I catch the leaping grass bugs&#8195; house them, <br />
backs against the wall&#8195; in the shell<br />
my hands make</p>
<br />
<p>and I am&#8195; by all accounts&#8195; kept,<br />
only the hot air makes room for me<br />
in that highway mirage where vision <br />
writhes all that dares remain still, where</p>
<br />
<p>I find my hair curled in more clumps<br />
around the drain than stolen away between the <br />
fingers of someone I love</p>
<br />
<p>— when you reminisced<br />
on the days you felt free, I hope you know</p>
<br />
<p>I was never free.</p>
<br />
<p>That year you forgot<br />
my birthday, I sheared off the rest<br />
of my hair and began making crop circles <br />
in the backyard&#8195; trampled down<br />
the heads of grass until all bowed<br />
at my feet with a praying mantis’ <br />
reverence&#8195; and I am</p>
<br />
<p>pious&#8195; in a field lit only<br />
by candlelight, I too burn all the way <br />
down to the wick&#8195; a liquid heat<br />
pouring out from both ends</p>
<br />
<p>but like Millay, I cannot disentangle <br />
the knots inside<br />
is it loneliness or love&#8195; that makes me</p>
<br />
<p>shove my body<br />
into a fence corner out by<br />
the blackberry bush&#8195; until the blades <br />
of my shoulders slide out<br />
onto the grass fusing&#8195; together&#8195; like <br />
the back of a Japanese beetle.</p>
<br />
<p>Imagine this like the moment before escape&#8195; the beetle's frenzied<br />
squeeze&#8195; of the fingertip&#8195; the release&#8195; oh how I craved some</p>
<br />
<p>tenderness&#8195; be still&#8195; be still&#8195; lay <br />
low but still&#8195; I pick the fruit too early<br />
the flesh too pink&#8195; too young<br />
the skin disintegrating in my hand <br />
before it can become anything&#8195; else</p>
<br />
<p>— and I tell you,<br />
the body remembers.</p>
<br />
<p>I am uprising.</p>
<br />
<p>I always want things <br />
before they’re ready.</p>
<br />
<hr />
<h2>Spring Snow</h2>
<p>
that deciduous bird-milk milked-bird soaring<br />
low those swallows long and dry that<br />
bone-burn burrowing deep inside a burned-<br />
wet empty-wet sock that perpetual hole in the economy- <br />
shoe a kind of petal-sorrow kept at bay a<br />
mothering-gaze of sepal-sorrow sometimes stamen-sorrow <br />
is useful and lonesome like a false god a kind<br />
of calcined-holy wetting the tongue a blade<br />
of grass a calcified-holy milk gushing<br />
forth bringing your butter-bones to their knees and <br />
that bird-milk goes down singing right<br />
before contact with that burned-wet<br />
sorrow that sweet petal-sorrow.<br />
</p>
{% endblock %}

{% block bio %}
{{ super() }}
<p>CJ is a poet and writer living in Nashville, Tennessee with a degree in English and a double minor in creative writing and history. She's had work published in and forthcoming from Aurora: the Allegory Ridge Poetry Anthology, NOVUS, Salt Weekly, Sinew: Poetry in the Brew’s 10 Year Poetry Anthology, and the Belmont Literary Journal. When she’s not writing about women’s lives or taking moody walks in the cold, she’s working with kids as a writing instructor with her fingers and toes crossed for an MFA in poetry one day.</p>
{% endblock %}