{% extends "issues/five/work-base.html" %}

{% block title %}Name of Names{% endblock %}
{% block name %}Will Cordeiro{% endblock %}

{% block work %}
<h2>The Lumberhead Sonnets</h2>
<p>A lavish amber’s damaged filigree— <br />
    the sun imprints a negative<br />
    upon my skin, an outline of my book<br />
    while I’ve dozed off, head pillowed<br />
    on a cenotaph. Awake, I walk the grounds<br />
    through graves and willows where dust floats<br />
    unsettled through the air, assuming<br />
    another twist of revelation. Musk and celadon.<br />
    A summer day is ravished as it melts<br />
    —a mayfly’s stammering celerity.<br />
    I moon about. I maunder in my own existence.<br />
    Light zeros in, away. Mauve levels wilt;<br />
    the evening glimmers and incinerates.<br />
    Each star crawls ciphers cross my peeling vellum.</p>
   <p>*</p>
   <p> A cheese-crumb stink of public reading rooms,<br />
    as out the window mizzle glums the streets.<br />
    Umbrellas bobble through the cobblestones.<br />
    Now beer-tipped laughter from an afterparty</p>
   <p>stumbles backwards through a Dummkopf hang-<br />
    over and over-brimming ashtrays of this Sunday.</p>
   <p> I slept throughout the Russian Silver Age,<br />
    the whole immodest lecture. I had nothing<br />
    to contribute to discussion. I am an artifact.<br />
    I sit here in this room where half the books</p>
    <p>have been half read and the other half half-<br />
    unremembered—wan, tumbledown, and musty—</p>
    <p>as if I stared out from some muzzy photograph,<br />
    making you to wonder what to make of me.</p>
    <p>*</p>
    <p>Small headlights glide like crystals on the bridge.<br />
    Dark fissile matter of the snow-edged harbor.<br />
    A blizzard of remembrance; auroras, touchwood<br />
    over cloudbanks. A brackish odor. My thinking<br />
    scratches up more trash and makes the past its nest.<br />
    The smudged revolving glare upon the river spills<br />
    until the void dissolves in shapes like moon-rimmed<br />
    toys from childhood. A séance rummaging in squalor.<br />
    A door swings open! Loose-limbed skeletons<br />
    whose frivolous dancing prophecies new elements.<br />
    O, crayon grizzle! Comet slurry! Down a wildered<br />
    whelm of old diaries, postcards, watercolors—<br />
    this scumblack night drinks all the ink I’ve wasted.</p>
<hr />
<h2>Daily Living Solutions</h2>
<p>Men waddle round with bags and sagging breasts.<br />
    One bone-thin lady hugs her doll; the other<br />
    braids—upbraids her nest of beard. My addled<br />
    hearing aids chirp bird-brained logic in my ear.<br />
    Some fat bland nurse shaves off my chin.<br />
    Another nurse tells someone, shut your trap.<br />
    The fuddled televisions tsk me like a child.<br />
    A voice smears down the hallway from the moon,<br />
    a moan against authorities who’re putting<br />
    them away—their door snaps briskly closed.<br />
    Daff doctors’ lingo, random as the Bingo games.<br />
    The ornery orderlies keep spooning us<br />
    chyme and forcemeat on non-staining trays,<br />
    keep crushing horse pills in our tapioca pudding.<br />
    Our dodge and dawdle thwarts their schedules, yes,<br />
    and in return they singsong, squeak, and hector us.<br />
    Some chap on staff I’ve never seen has rubbed my lesions,<br />
    and legions of old lovers fade, faint characters<br />
    that smudge like lessons on a splotched blackboard.<br />
    I’ve lost my taste. But no, it’s onion soup again.<br />
    Depressors hold my tongue where some black fuzz<br />
    appeared. The nurses rub up puddles, caress the knobs,<br />
    and hand out puzzles, beads. I’ve told them showers<br />
    hurt my skin. They wheel us in in shifts, backwards,<br />
    back through wayward wards and glitching shafts,<br />
    up shuffling lifts then crank the levers down.<br />
    We thank them, knowing that they’d rather scram.<br />
    Glum smocks and scrubs metastasize the halls.<br />
    We bubbled at the little dog who used to visit Thursdays<br />
    with pert consolateers. Where did they go?<br />
    The minders taking turns turn over invalids,<br />
    those lumps of nubble troubled by bedsores.<br />
    My files claim I sundown. I count out grains<br />
    of rice; I practice motor skills, the grosser and the fine.<br />
    I’m closer now to smiling at all the weekly tours.<br />
    I’m due for one more solo day next year. This slow<br />
    glaucoma is the light’s undoing, Lord. Even prisoners<br />
    have each their pet sun-patch. And yet, the raindrop<br />
    of our life falls brightly. Scatters its remainders and<br />
    foreshortens daily tasks we need reminders for.<br />
    Our joint’s locked down. Today was over-due<br />
    for doing-over anyway. We are the Minotaur<br />
    of our own memories. We walk each second back.<br />
    My roommate, when I enter our shared space,<br />
    is talking in his fitful sleep. He reckons<br />
    I’m his late half-brother. But we’re all family here,<br />
    all strangers in a too-small house, and then some-<br />
    one can forget you, I—he/she, each other—<br />
    those time-worn grooves each face has like a key.</p>
{% endblock %}

{% block bio %}
{{ super() }}
<p>Will Cordeiro has work published in <i>AGNI, Bennington Review, Copper Nickel, The Threepenny Review, THRUSH</i>, and elsewhere. Will won the 2019 Able Muse Book Award for <i>Trap Street</i>. Will is also co-author of <i>Experimental Writing: A Writers’ Guide and Anthology</i>    , forthcoming from Bloomsbury. Will co-edits Eggtooth Editions and teaches in the Honors College at Northern Arizona University. 
</p>
{% endblock %}