{% extends "issues/five/work-base.html" %}

{% block title %}Megan Espinor{% endblock %}
{% block name %}Megan Espinor{% endblock %}

{% block work %}
<h2>ilnamiqui (remember)</h2>
<p>trickling tears touching tongues,<br />
satin silks softly soured,<br />
fretfully feeding flowers - Fears.</p>
<br />
<p>prisms of rainbows,<br />
lands of dictionaries and dreams,<br />
sides to every coin.</p>
<br />
<p class="bpad">a killer kiss</p>
    <p class="bpad">the Catalyst</p>
<br />
<p>romanticizing roses all around<br />
one of my biggest falls<br />
freely on corroded concrete ground<br />
man-made materials mark dark</p><br />
<p class="bpad">exhibits</p>
<p class="bpad">enviously</p>
<p class="bpad">erotic</p>
<br />
<p class="bpad">So</p>
<p class="bpad">I breathe</p>

    <p class="bpad">I remember</p>
        <p class="bpad">I return to myself,</p>
            <p class="bpad">I return to us all.</p>

{% endblock %}

{% block bio %}
{{ super() }}
A Chicana and native south Texan, Megan Espinor uses her cultural background and studies in anthropology to embody the emotion in her pieces. She loves to play with syntax and language imagery on the page, as a way of bringing the piece to life. When Mrs. Espinor isn't writing, she's traveling the world with her husband, dancing, learning, and hanging out with her dog and cat - Moosey and Leeloo.
{% endblock %}