{% extends "five/work-base.html" %}

{% block title %}Letters to Marya Pantoums{% endblock %}
{% block name %}Cid Galicia{% endblock %}

{% block work %}
<h2>Letters to Marya Pantoums</h2>
<p>Letter to Marya 1: <i>New Beginnings</i></p>
<br />
    <p class="right"><i>“It can only hurt you if you find out<br />
    So don't find out<br />
    Keep your eyes closed and I'll shut my mouth<br />
    Cause skeletons are scary in the real life<br />
    No I don't deserve to make you cry<br />
    So turn a blind eye<br />
    Sacrifice the truth to preserve your smile<br />
    Yeah I can bear the burden for my own lies”<br />
                                        [Don’t Find Out-by Alloci]</i><p>
    <br />
    <p>It is time for an end and beginning again.<br />
    I haven’t started something new in a long time, Marya.<br />
    Not like this, no. No, not in a while.<br />
    My skeletons aren’t as strong as me, can’t leave their closets.</p>
    <br />
    <p>I haven’t started something new in a long time, Marya.<br />
    My closet is bigger, a world bigger compared to thiers.<br />
    Not like this, no. No, not in a while.<br />
    They will miss me.  They are like my children.</p>
    <br />
    <p>My closet is bigger, a world bigger compared to thiers.<br />
    I will miss them, but they will miss me more Marya.<br />
    They will miss me.  They are like my children.<br />
    I’m scared they’ll become angry with me.  They will.</p>
    <br />
    <p>I will miss them, but they will miss me more Marya.<br />
    I’ll feel guilty for leaving them behind.<br />
    I’m scared they’ll become angry with me.  They will.<br />
    I’ll feel guilty.  I created them.  They are like my children.</p>
    <br />
    <p>I’ll feel guilty for leaving them behind.<br />
    They’re only strong as children, Marya.<br />
    I’ll feel guilty.  I created them.  They are like my children.<br />
    They won’t suffer too long.  They’ll become tired, sleep.</p>
    <br />
    <p>They’re only strong as children, Marya.<br />
    They’ll get tired, yes.  They’ll sleep.<br />
    They won’t suffer too long.  They’ll become tired, sleep.<br />
    The closets make them feel safer.</p>
    <br />
    <p>They’ll get tired, yes.  They’ll sleep.<br />
    At first the darkness is cold Marya.<br />
    The closets make them feel safer.<br />
    But then the dark becomes warm, like sleep.
    </p>
{% endblock %}

{% block bio %}
{{ super() }}
<p>Cid Galicia is a Mexican American poet who has lived, and taught, in New Orleans for the past twelve years. He is in the final year of his MFA program, through The University of Nebraska Omaha. He is a poetry reader for The Kitchen Table Quarterly as well as The Good Life Review. He received an honorable mention for the 2021 Academy of American Poets Prize, his work has appeared in The Watershed Review, and most recently in the National Poetry Month Issue of The Elevation Review.</p>
{% endblock %}