{% extends "five/work-base.html" %}

{% block title %}POSTMODERN CATHEDRAL{% endblock %}
{% block name %}Marc Janssen{% endblock %}

{% block work %}
<h2>POSTMODERN CATHEDRAL</h2>
<p>The Crystal Cathedral is crumbling;<br />
    Panes, high in its cavernous expanse crack, and, in a heavy wind,<br />
    Slip into gravity’s angry hand to make the journey <br />
    Spinning glinting, to splinter where once was a parade of camels.<br />
    Were you ever there, among the throng when that pipe organ shouted and the red light was on?<br />
    Maybe you are there now that the Catholics have moved in;<br />
    Maybe not.<br />
    <br />
    Among the holiest of sites at Disneyland;<br />
    The Kaaba of Space Mountain fastpass kiosks,<br />
    Whose devotees pilgrimate in sacred circles right to left<br />
    Through the queues of their own thoughts in an effort to satisfy their desire for <br />
    Waiting for the opportunity to wait later in the day.<br />
    Is that ironic retro seventies futurama the deconstructed Mount Sinai?<br />
    In that dark and dangerous place enough prayers have been said,<br />
    And it always seemed Tomorrowland would be the perfect place,<br />
    If you were anywhere, it would be at the happiest place on earth.<br />
    Or perhaps not.<br />
    <br />
    After the old Toyota pickup with the mismatched paint ticks and catches breath outside the crowded Oxnard bungalow, he returns from another day on the pick-and-pack line and removes his shoes.<br />
    Pushes back into the chair so the foot rest comes up, the handle is broken.<br />
    Thinking of the rumors that they are going to move the warehouse to Mexico,<br />
    There is the smell of something cooking in the kitchen; rice, some sauce, <br />
    The sound of strife from one of the bedrooms produces three year old pigtails with tears who cat curls into his lap and presents a hurt finger and a tale of woe.<br />
    He kisses the finger and lets it linger in his tired palm.<br />
    <br />
    The pain token is affixed to the wall observing the scene,<br />
    To him it looks like pain-<br />
    Peace holding hands with pain.
    </p>
{% endblock %}

{% block bio %}
{{ super() }}
<p>Marc Janssen lives in a house with a wife who likes him and a cat who loathes him. Regardless of that turmoil, his poetry can be found scattered around the world in places like <i>Pinyon, Slant, Cirque Journal, Off the Coast and Poetry Salzburg</i>. His book, <i>November Reconsidered</i> was published by Cirque Press. Janssen also coordinates the Salem Poetry Project, a weekly reading, the annual Salem Poetry Festival, and was a 2020 nominee for Oregon Poet Laureate. </p>
{% endblock %}