{% extends "five/work-base.html" %}

{% block title %}Night-time: the quays – a light rain{% endblock %}
{% block name %}DS Maolalai {% endblock %}

{% block work %}
<h2>Night-time: the quays – a light rain</h2>
<p>night-time: the quays – a light rain.<br />
    just enough to make roads<br />
    and the pavement catch traffic <br />
    light colour: smearing all over<br />
    with an appleish red, sometimes <br />
    an appleish green. traffic runs <br />
    quietly – tonight's sunday night. <br />
    cars come alone to the corner <br />
    and pause, like bullets in the breach <br />
    of a rifle. over the bridge<br />
    there's a line for the offo. people chat<br />
    and kids hang about hopefully, <br />
    offering passers-by handfuls <br />
    of cash like they're handing out apples. <br />
    the moon's there. some evenings<br />
    are perfect. I tell that to god; he agrees. </p>
{% endblock %}

{% block bio %}
{{ super() }}
<p> DS Maolalai has received eleven nominations for Best of the Net and seven for the Pushcart Prize. His poetry has been released in three collections, "Love is Breaking Plates in the Garden" (Encircle Press, 2016), "Sad Havoc Among the Birds" (Turas Press, 2019) and “Noble Rot” (Turas Press, 2022)  
</p>
{% endblock %}