{% extends "five/work-base.html" %}

{% block title %}Bruce McRae{% endblock %}
{% block name %}Bruce McRae{% endblock %}

{% block work %}
<h2>Forewarning</h2>
<p>
“He who fears he will suffer already suffers what he fears."<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Montaigne<br />
There isn't enough time.<br />
Feast, fast and famine,<br />
there aren't enough bullets or ballots,<br />
minutes in an hour,<br />
bread and circuses, wine, jellybeans,<br />
shoelaces, pencils, kerosene . . .<br />
Grab whatever you can hold, a storm<br />
is coming, night is coming,<br />
the Mongol hordes, a flood, a hurricane,<br />
an edict of outlandish resolutions.<br />
Count your fingers. Mind your head.<br />
Are you prepared? We're not<br />
prepared for the worst at best of times.<br />
Because here comes the fire<br />
mother warned us would burn<br />
through us and all, across bourn<br />
and county. A cleansing fire,<br />
an insatiable yearning, a furious curiosity,<br />
a blessed inferno, its millions mouths<br />
a locust swarm, demon spawn, a plague of weevils.<br />
Save the children and the gold. The cat.<br />
The family bible, handed down<br />
from son to son, from sun to sun,<br />
the Earth shaking its molten pudding.<br />
This is your captain speaking.<br />
We're in for a rocky ride, downdrafts<br />
and turbulence, wild-eyed kinetics,<br />
a submolecular chain reaction.<br />
Buttercup, it's best you buckle up,<br />
we're in the arms of Jesus now, fate<br />
is destiny, destiny fate, our blighted future<br />
not so fortuitous as planned and Venn diagrammed.<br />
Gather up your cargo, war is coming.<br />
Sound the warning bells of wide renown.<br />
Run, rabbit, run, the vulcanologists' decree<br />
states quite openly and obviously<br />
the end is nigh, the bulls are running, tides are high.<br />
Swallow hard your raggedy-assed medicines,<br />
we stridently disagree to disagree —<br />
it's an asteroid the mass and gravity of Amsterdam.<br />
The sun's gone out. The moon<br />
has fallen down. We're doomed, I tell you, doomed. <br />
As sure as shooting, darlings, as sure as sugar.<br />
The psychic foretold all this to me, but would I listen? <br />
I would not listen.<br />
</p>
{% endblock %}

{% block bio %}
{{ super() }}
<p>Bruce McRae, a Canadian musician, is a multiple Pushcart nominee with poems published in hundreds of magazines such as Poetry, Rattle and the North American Review. His books are ‘The So-Called Sonnets (Silenced Press); ‘An Unbecoming Fit Of Frenzy; (Cawing Crow Press) and ‘Like As If” (Pski’s Porch), Hearsay (The Poet’s Haven).</p>
{% endblock %}