{% extends "five/work-base.html" %}

{% block title %}Reflection{% endblock %}
{% block name %}Alan Perry{% endblock %}

{% block work %}
<h2>Reflection</h2>
<p><i>See that pool over there?</i><br />
    Our Greek guide points to a pond<br />
    as we crowd in toward the water.<br />
    <br />
    <i>It’s where Narcissus went in!</i><br />
    His voice so authoritative<br />
    there’s a muffled gasp<br />
    <br />
    from the tour group. The water<br />
    looks enticing – brilliant blue-green,<br />
    white water lilies gently lazing.<br />
    <br />
    I move to the front, smile<br />
    at the gullibility of the others,<br />
    knowing it’s only a myth.<br />
    <br />
    I lift my sunglasses and peer<br />
    into the pond, aware my one<br />
    drooping eyelid will not be pleasing<br />
    <br />
    to its liquid image. Nor will my facial gash<br />
    from the tour bus accident<br />
    on the trip here from Istanbul.<br />
    <br />
    No Narcissus to be seen, only his flower<br />
    as we speed back to Athens<br />
    along Aegean Sea cliffs.<br />
    <br />
    I lean away from the water’s edge,<br />
    remembering I can’t swim.<br />
    </p>
{% endblock %}

{% block bio %}
{{ super() }}
<p>Alan Perry’s debut chapbook, <i>Clerk of the Dead</i>, was released by Main Street Rag Publishing in 2020. His poems have appeared in <i>Tahoma Literary Review, Open: Journal of Arts & Letters, Ocotillo Review, Remington Review</i>, and elsewhere. He is a founder and Co-Managing Editor of <i>RockPaperPoem</i>, a Senior Poetry Editor for <i>Typehouse Literary Magazine</i>, and a Best of the Net nominee. Alan holds a BA in English from the University of Minnesota. More at: <a href="https://alanperrypoetry.com">alanperrypoetry.com</a></p>
{% endblock %}