{% extends "issues/five/work-base.html" %}

{% block title %}sweepstakes{% endblock %}
{% block name %}Chris Salveson{% endblock %}

{% block work %}
<h2>sweepstakes</h2>
<p>telemarketers hang up on me<br />
    birds run around so I don’t shit on their heads<br />
    pedestrians let me on my way<br />
    airlines delay departures when I’m running early<br />
    clouds lower themselves when I’m in my mood<br />
    Uber drivers stay deathly quiet when I’m<br />
    in their cars<br />
    I go to readings and poets ask me questions<br />
    I sit in coffee shops and let them drink me<br />
    and take notes on my phone<br />
    I listen to music that degrades me<br />
    and those I love<br />
    for the slim chance it lifts us up<br />
    baby it can lift us up</p>
{% endblock %}

{% block bio %}
{{ super() }}
<p>Chris Salveson is a Writer, artist from Marina, Ca previously published in Red wheelbarrow Anthology and Matchbox Magazine</p>
{% endblock %}